[2015-03-14 21:23] GoogleCodeExporter opened #1 "Love to try it, but..."
[code]

Original issue reported on code.google.com by `r...@rbdb.net` on 12 Jun 2014 at 1:39

[2015-03-14 21:23] #1 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #2 "Text in "Data" fields is blurred"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 30 Jun 2014 at 9:56

[2015-03-14 21:23] #2 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #3 "MQTT-SPY is beeping"
[code]

Original issue reported on code.google.com by `chris.fa...@gmail.com` on 23 Jul 2014 at 9:43

[2015-03-14 21:23] #3 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #4 "Add support for broker authentication (i.e. username/password)"
[code]

Original issue reported on code.google.com by `ben.jone...@gmail.com` on 27 Aug 2014 at 9:25

[2015-03-14 21:23] #4 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #5 "User ID != Client ID"
[code]

Original issue reported on code.google.com by `andypiperuk` on 28 Aug 2014 at 9:26

[2015-03-14 21:23] #5 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #6 "Not coping with high load"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 29 Aug 2014 at 12:30

[2015-03-14 21:23] #6 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #7 "Search - shown message index"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 29 Aug 2014 at 12:33

[2015-03-14 21:23] #7 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #8 "Opening connections"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 8 Sep 2014 at 8:48

[2015-03-14 21:23] #8 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #9 "Packaging of binaries"
[code]

Original issue reported on code.google.com by `m...@christiangoetz.net` on 10 Sep 2014 at 3:09

[2015-03-14 21:23] GoogleCodeExporter opened #10 "Duplicate subscriptions"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 12 Sep 2014 at 2:14

[2015-03-14 21:23] #10 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #11 "Too many subscription or connection tabs"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 12 Sep 2014 at 2:23

[2015-03-14 21:23] GoogleCodeExporter opened #12 "Mouse highlight selection is lost when new messages arrive"
[code]

Original issue reported on code.google.com by `nott...@hotmail.com` on 17 Sep 2014 at 2:27

[2015-03-14 21:23] #12 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #13 "Separate config files"
[code]

Original issue reported on code.google.com by `chris.fa...@gmail.com` on 18 Sep 2014 at 4:07

[2015-03-14 21:23] #13 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #14 "'Show' column changes not triggering message refresh"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 21 Sep 2014 at 11:41

[2015-03-14 21:23] #14 closed, assigned to nobody

[2015-03-14 21:23] GoogleCodeExporter opened #15 "Can no longer connect to local broker"
[code]

Original issue reported on code.google.com by `ben.jone...@gmail.com` on 28 Sep 2014 at 8:31

[2015-03-14 21:24] #15 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #16 "Add ability to auto subscribe"
[code]

Original issue reported on code.google.com by `s...@srvincent.co.uk` on 11 Nov 2014 at 12:16

[2015-03-14 21:24] #16 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #17 "Resize panes to fit content"
[code]

Original issue reported on code.google.com by `s...@srvincent.co.uk` on 11 Nov 2014 at 12:21

Attachments:
- [Screenshot from 2014-11-11 12:21:08.png](https://storage.googleapis.com/google-code-attachments/mqtt-spy/issue-17/comment-0/Screenshot from 2014-11-11 12:21:08.png)

[2015-03-14 21:24] #17 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #18 "mqtt-spy-daemon encoding"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 25 Nov 2014 at 1:08

[2015-03-14 21:24] #18 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #19 "Double clicking the resize 'Topic' column pushes the 'Last Received' column off the screen"
[code]

Original issue reported on code.google.com by `blakepe...@googlemail.com` on 17 Dec 2014 at 9:36

Attachments:
* [MQTT_SPY_Column_Resize_Double_Click.PNG](https://storage.googleapis.com/google-code-attachments/mqtt-spy/issue-19/comment-0/MQTT_SPY_Column_Resize_Double_Click.PNG)

[2015-03-14 21:24] GoogleCodeExporter opened #20 "Wierd behaviour of QOS=2 with RabbitMQ"
[code]

Original issue reported on code.google.com by `petersca...@googlemail.com` on 1 Jan 2015 at 6:29

[2015-03-14 21:24] #20 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #21 "XML issues"
[code]

Original issue reported on code.google.com by `petersca...@googlemail.com` on 3 Jan 2015 at 8:07

[2015-03-14 21:24] #21 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #22 "Context menu to add/remove subscriptions from configuration"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 3 Jan 2015 at 9:10

[2015-03-14 21:24] #22 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #23 "Formatting XML written to files"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 4 Jan 2015 at 4:24

[2015-03-14 21:24] #23 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #24 "Auto-start for publication scripts"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 5 Jan 2015 at 10:24

[2015-03-14 21:24] #24 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #25 "Scripted publications pane not resizing properly"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 5 Jan 2015 at 2:10

[2015-03-14 21:24] GoogleCodeExporter opened #26 "Please increase the width of the "search topics" text box"
[code]

Original issue reported on code.google.com by `nott...@gmail.com` on 29 Jan 2015 at 4:41

[2015-03-14 21:24] #26 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #27 "Please remember the vertical panel resizing per connection and if possible, globally"
[code]

Original issue reported on code.google.com by `nott...@gmail.com` on 29 Jan 2015 at 4:43

[2015-03-14 21:24] #27 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #28 "The count on Messages stop at 5000"
[code]

Original issue reported on code.google.com by `nirajbha...@gmail.com` on 31 Jan 2015 at 6:52

Attachments:
- [mqttspy_Issue1.jpg](https://storage.googleapis.com/google-code-attachments/mqtt-spy/issue-28/comment-0/mqttspy_Issue1.jpg)

[2015-03-14 21:24] #28 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #29 "HEX encoding not working properly?"
[code]

Original issue reported on code.google.com by `thiago.p...@gmail.com` on 5 Feb 2015 at 4:36

Attachments:
- [04-02-2015 20-34-22.png](https://storage.googleapis.com/google-code-attachments/mqtt-spy/issue-29/comment-0/04-02-2015 20-34-22.png)
- [04-02-2015 20-34-23.png](https://storage.googleapis.com/google-code-attachments/mqtt-spy/issue-29/comment-0/04-02-2015 20-34-23.png)

[2015-03-14 21:24] #29 closed, assigned to nobody

[2015-03-14 21:24] GoogleCodeExporter opened #30 "Provide option to change font size"
[code]

Original issue reported on code.google.com by `matt.br...@gmail.com` on 11 Feb 2015 at 12:42

[2015-03-14 21:24] GoogleCodeExporter opened #31 "Support long userId"
[code]

Original issue reported on code.google.com by `alexan...@zia.com.br` on 4 Mar 2015 at 1:16

[2015-03-14 21:24] GoogleCodeExporter opened #32 "RMB options in edit mode for Publications or Subscriptions are white on white text"
[code]

Original issue reported on code.google.com by `allanpmi...@gmail.com` on 4 Mar 2015 at 7:16

[2015-03-14 21:24] GoogleCodeExporter opened #33 "diamond operator needs at least 1.7"
[code]

Original issue reported on code.google.com by `maggu2810@gmail.com` on 9 Mar 2015 at 10:07

[2015-03-14 21:24] GoogleCodeExporter opened #34 "use xml API of JDK"
[code]

Original issue reported on code.google.com by `maggu2810@gmail.com` on 9 Mar 2015 at 10:36

[2015-03-14 21:24] GoogleCodeExporter opened #35 "Message payload not displayed properly"
[code]

Original issue reported on code.google.com by `kamil.ba...@gmail.com` on 11 Mar 2015 at 10:21

[2015-03-16 09:56] kamilfb commented on #34
Many thanks for reporting it and providing a fix. Done in the development branch.

[2015-03-16 09:56] #34 closed

[2015-03-16 09:57] kamilfb commented on #33
Many thanks for reporting it and providing a fix. Done in the development branch.

[2015-03-16 09:57] #33 closed

[2015-03-17 09:08] kamilfb commented on #31
Implemented in 0.1.9 build 66 - please give it a try.

[2015-03-17 09:08] #31 closed

[2015-03-17 23:02] kamilfb commented on #32
Fixed in 0.1.9 beta build 67.

[2015-03-17 23:02] #32 closed

[2015-03-18 16:33] kamilfb opened #36 "Add MQTT SSL/TSL support"
Add SSL/TSL support for connections.

[2015-03-18 19:16] mitchiot commented on #32
I confirm this issue has now been resolved.
Thanks

[2015-03-18 22:05] kamilfb commented on #32
Thanks @mitchiot!

[2015-03-19 13:31] kamilfb commented on #11
Looks like a bug in the JVM - seems to work fine with JDK8u40.

[2015-03-19 13:31] #11 closed

[2015-03-19 13:35] kamilfb commented on #35
Looks like a bug in the JVM - works fine with JDK8u40.

[2015-03-19 13:35] #35 closed

[2015-03-19 13:39] kamilfb commented on #19
This is how JavaFX works in the situation where the table doesn't have maximum size defined. If the table was to have fixed size, we wouldn't be able to see all the content. Leaving it as is.

[2015-03-19 13:39] #19 closed

[2015-04-30 22:14] kamilfb commented on #36
Added in 0.1.11.

[2015-04-30 22:14] #36 closed

[2015-05-08 08:01] michal-konopinski opened #37 "Charts"
It would be nice to have charts from incoming data :)

[2015-05-10 18:33] #37 closed

[2015-06-23 21:56] kamilfb opened #38 "Viewed messages are exported in wrong order"
When performing an export for browsed messages, the order of those messages is reversed (new first).
This should be old first, new last.

[2015-06-26 11:54] kamilfb opened #39 "Message stores incorrect"
When selecting topics for browsing, the list of messages received is empty, and only populated with new messages received.

This was introduced in 0.2.0 beta build 1.

[2015-06-26 15:51] kamilfb commented on #30
As this can be achieved in FXML or the operating system, a decision was made not to implement it in the main code base. Please feel free to fork the repository and change it to meet your requirements.

[2015-06-26 15:51] #30 closed

[2015-06-29 22:49] kamilfb commented on #39
Fixed in latest beta.

[2015-06-29 22:50] #39 closed

[2015-06-29 22:50] kamilfb commented on #38
Fixed in latest beta.

[2015-06-29 22:50] #38 closed

[2015-07-02 13:49] kamilfb opened #40 "Oracle JRE bug - JavaFX crashes when sorting summary table"
Subscribe to a lot of messages, then sort the summary table.

2015-07-02 14:45:08,144 ERROR [MqttSpyUncaughtExceptionHandler]  - Thread Thread[JavaFX Application Thread,5,main] failed with java.lang.ArrayIndexOutOfBoundsException
java.lang.ArrayIndexOutOfBoundsException
        at java.lang.System.arraycopy(Native Method)
        at javafx.collections.transformation.SortedList.removeFromMapping(Un

[2015-07-02 21:17] kamilfb commented on #9
For now, decided not to implement this, as it brings a lot of additional work with each release, and the benefits don't necessary outweigh the drawbacks. Happy to reopen when time allows.

[2015-07-02 21:17] #9 closed

[2015-07-03 08:21] kamilfb commented on #40
This doesn't seem to affect the subscription topic column.

[2015-07-05 21:16] kamilfb opened #41 "Oracle JRE / RichTextFX bug - memory leak"
First though to be a RichTextFX issue (https://github.com/TomasMikula/RichTextFX/issues/159), it turns out this is an Oracle JVM issue: https://bugs.openjdk.java.net/browse/JDK-8130458.

[2015-07-05 21:18] kamilfb commented on #41
The application's performance will degrade over time, and eventually it will fail with out of memory.

[2015-08-10 17:03] tottka opened #42 "Just a question about mqtt-spy with TLS"
I've been using mqtt-spy to help in my learning of MQTT.  It's been working great with iot.eclipse.org Thanks for this tool.

I am attempting to setup a mosquito broker to be used in Owntracks.  I think I have a mosquito broker setup on my laptop with TLS and I am at the point of trying to get mqtt-spy to use TLS.

This is the first time I am seeing the words  Custom Socket Factory.  I set up my c

[2015-08-11 09:42] dobermai opened #43 "Key Store Dialog does not support passwords for keystors"
When using self-signed certificates with Java keystores, there is no possibility to set a password for the keystore in mqtt-spy.

[2015-08-11 12:27] kamilfb commented on #42
Hi. No, you shouldn't need any extra tools.

Have a look at https://github.com/kamilfb/mqtt-spy/blob/development/mqtt-spy-common/src/test/java/pl/baczkowicz/mqttspy/connectivity/ConnectionTestingWithMosquitto.java and https://github.com/kamilfb/mqtt-spy/tree/development/mqtt-spy-common/src/test/resources. These are unit/integration tests for TLS/SSL & mosquitto. Most are with a local instance of m

[2015-08-12 19:57] tottka commented on #42
Hi Kamil, thanks for responding to my question.  I am pretty sure that I have generated the ca/key files correctly because I can get messages to flow when I use mosquitto_pub & mosquitto_sub on port 8883.  I have no knowledge of java so I've attempted to read your code but not really sure what I'm looking at or what I am suppose to do with the links you sent me.  thanks for trying to help

[2015-08-12 19:58] tottka commented on #42
Closed by mistake

[2015-08-17 18:40] kamilfb opened #44 "Zero-length client IDs not supported"
In the current version mqtt-spy doesn't support zero-length client IDs which are possible in MQTT 3.1.1.
To be added with the next release.

[2015-08-17 22:41] kamilfb commented on #44
Added in 0.3.0 beta build 7.

[2015-08-17 22:41] #44 closed

[2015-08-17 22:49] kamilfb commented on #42
Hi. I recall having a similar issue, with mosquitto_pub & sub working, but mqtt-spy not, and vice versa.

How do you generate those ca/key files?

Have a look at:
https://github.com/kamilfb/mqtt-spy/blob/development/mqtt-spy-common/src/test/resources/mosquitto/ssl/bouncy_castle/generate-client.sh
and
https://github.com/kamilfb/mqtt-spy/blob/development/mqtt-spy-common/src/test/resources/mosquitto/

[2015-08-19 15:28] kamilfb opened #45 "ControlsFx incompatibility with Java 8 Update 60"
mqtt-spy won't work properly with Java 8 Update 60.

This is due to incompatibility between ControlsFx (used by mqtt-spy) and the latest Java 8 Update 60 from Oracle.

For details see:
https://bitbucket.org/controlsfx/controlsfx/issues/526/comsunjavafxutils-changes-to

[2015-08-25 21:59] kamilfb commented on #45
Removed dependency on ControlsFx in 0.3.0 beta.

[2015-08-28 13:27] FallenRiteMonk opened #46 "No default configuration file found ERROR"
Hy,
just tried version 0.2.0 (jar with dependencies) but clicking on the "No default configuration file  found" messages results in a java.lang.NoClassDefFoundError.
Windows 7 64 bit
java 1.8.0_60

Full log:

2015-08-28 15:18:13,942 INFO  [JavaFX Application Thread     ] [MainController                ]  - Default configuration file present (C:\Users\<USER>\mqtt-spy\mqtt-spy-configuration.xml) = f

[2015-08-28 15:46] kamilfb commented on #46
Hi.

This is because you're using incompatible versions of Java and mqtt-spy.

Version 0.2.0 is only compatible with 8u20 up to 8u51.
Version 0.3.0 (currently in beta) is compatible with 8u40 and above.

See the following link for more detail: https://github.com/kamilfb/mqtt-spy/issues/45

To use mqtt-spy with your version of Java (8u60) I suggest you use the latest 0.3.0 beta.

[2015-08-28 15:47] kamilfb commented on #45
Will leave it open until official release of 0.3.0.

[2015-09-03 19:59] #46 closed

[2015-09-14 13:30] pogocode opened #47 "TestCaseResult with IN_PROGRESS steps is overwritten"
When using the IN_PROGRESS TestCaseStep result, the information returned in such steps in the TestCaseResult is overwritten with the results of the final result for that step.

For example, use the following minimal test script to replicate this:

[code]

The debugger shows the following. I would expect the red underlined values to have text "Skipping on iteration N" and a TestCaseStatus of IN_PRO

[2015-09-15 08:37] pogocode opened #48 "Support auto generation of client id for MQTT 3.1"
Please could a facility be added to the mqtt-spy daemon in order to support generation of client ids as opposed to explicitly configuring them in the daemon configuration file?

[2015-09-15 21:21] kamilfb commented on #48
Implemented in 0.1.0 beta build 69.

[2015-09-15 22:31] kamilfb commented on #47
Fixed in build 74. Note that there are some interface changes for running scripts, and the step interval can be now put into the configuration file.

[2015-09-16 13:32] pogocode commented on #47
Yes, this is now working as expected. Thanks very much.

[2015-09-16 13:32] #47 closed

[2015-09-16 13:35] pogocode commented on #48
Hi, I can confirm that this is now working. Closing the issue.

[2015-09-16 13:35] #48 closed

[2015-09-30 21:54] kamilfb commented on #45
Available in 0.3.0 - now released.

[2015-09-30 21:54] #45 closed

[2015-09-30 21:55] kamilfb commented on #41
Moved to RichTextFX 0.6.7 in mqtt-spy 0.3.0.

[2015-09-30 21:55] #41 closed

[2015-09-30 21:58] kamilfb commented on #40
Tested with the new Java 8 Update 60 and it's working fine now. No changes in mqtt-spy.

[2015-09-30 21:58] #40 closed

[2015-10-05 15:13] lupixch opened #49 "Unable to subscribe to any topic"
Every time I try to subscribe to a topic, I get the error message "Cannot subscribe to an empty topic". I can use as topic whatever I want, the behavior remains the same
I use version 0.3.0, in version 2.xx this worked without problems.
In mqtt-spy.log I see no errors or warnings.
![subscribe-problem-0 3 0](https://cloud.githubusercontent.com/assets/14980634/10284434/4a06c586-6b84-11e5-95a5-3b3606

[2015-10-05 15:36] kamilfb commented on #49
Hi. Thanks for raising this. I've managed to reproduce it. In the meantime, please use the Enter key to subscribe rather than clicking on the Subscribe button. I'll try to fix it ASAP. Cheers

[2015-10-05 21:35] kamilfb opened #50 ""Subscribe" button doesn't work with Oracle Java 8 Update 60-66"
In Oracle Java 8 Update 60, the Subscribe button doesn't work properly.

It picks up the last previously submitted value.

As a workaround, use the Enter key to create a new subscription.

[2015-10-05 21:51] kamilfb commented on #50
This is a bug in Oracle's JRE/JDK - https://bugs.openjdk.java.net/browse/JDK-8136838.

[2015-10-05 21:52] kamilfb commented on #50
Workaround: either use the Enter key or revert back to Java 8 Update 51.

[2015-10-06 11:29] kamilfb commented on #49
It turns out this is a bug in Oracle's JRE/JDK. See Issue 50 (https://github.com/kamilfb/mqtt-spy/issues/50) for more detail.

[2015-10-21 08:02] kamilfb commented on #49
This should have been fixed in JRE/JDK 8 Update 66. Could you try it please?

[2015-10-21 08:05] kamilfb commented on #50
Fixed in Java 8 Update 65/66.

[2015-10-21 08:06] kamilfb commented on #49
It's JRE/JDK 8 Update 65/66.

[2015-11-02 10:13] lupixch commented on #49
It does still not work correctly. Actually I have the following strange
behaviour using Java(TM) SE Runtime Environment (build 1.8.0_65-b17):

 1. Type '#' in subscription topic field, click "Subscribe" -> Message box
    "Cannot subscribe to an empty topic"
 2. Press Enter (with focus in subscription topic field) -> Subscription of '#'
    is done and works
 3. Unsubscribe and close tab
 4. Type

[2015-11-05 10:44] kamilfb commented on #49
Sorry - you are right - there problem is till there - my fault! Just checked the Oracle website and it looks like this fix is going to make it to JRE/JDK 8 Update 72.

[2015-11-05 10:44] kamilfb commented on #50
Expected to be fixed in Oracle JRE/JDK 8 Update 72.

[2015-11-11 12:10] AlexBGoode opened #51 "configuration file as a command line paramener"
Hello

As for now, a configuration file is created and loaded from users home directory
Any chance to enable specifying the location of a configuration file during startup?
For example to make it portable and keep config files locally together with JAR file

[2015-11-11 13:49] kamilfb commented on #51
Hi Alex,

Yes - that's already possible. I've just added a section to the 'Getting Started' wiki page.

If you are on Windows, you can do it on the command line or via a shortcut by specifying an additional parameter, for example:

java -jar  mqtt-spy-0.3.0-jar-with-dependencies.jar pl.baczkowicz.mqttspy.Main --configuration="C:\mqtt-spy\labs.xml"

Let me know if that's what you need.

[2015-11-12 11:12] AlexBGoode commented on #51
Thanks, Kamil
It works well

[2015-11-12 11:12] #51 closed

[2015-11-13 11:25] kamilfb opened #52 "Unable to re-subscribe on connection loss"
When the connection is lost, the options to re-subscribe to non-active subscriptions is disabled.

[2015-11-14 11:03] scargill commented on #49
I've just spotted this one now... yes, same thing happening to me - I'm so glad someone reported it - I'm back in the UK setting up a computer, loaded the latest MQTT-SPY and could not subscribe to anything...  at least now I know why.. do we know when this update is coming out?

[2015-11-14 19:30] kamilfb commented on #49
JRE/JDK 8 Update 72 is scheduled for January. In the meantime, you can either press the Enter key after typing the subscription topic or go back to Update 51.

[2015-11-15 23:27] kamilfb commented on #49
0.3.1 beta build 24 contains a workaround for the JRE bug - please let me know if that resolves the problem.

[2015-11-15 23:27] kamilfb commented on #50
0.3.1 beta build 24 contains a workaround for the JRE bug.

[2015-11-16 08:56] scargill commented on #49
YUP that does it – thanks for your continued efforts – still the best out there.

From: Kamil Baczkowicz [mailto:notifications@github.com]
Sent: 15 November 2015 23:27
To: kamilfb/mqtt-spy <mqtt-spy@noreply.github.com>
Cc: Peter Scargill <pete@scargill.org>
Subject: Re: [mqtt-spy] Unable to subscribe to any topic (#49)

0.3.1 beta build 24 contains a workaround for the JRE bug - please let me know

[2015-11-16 09:15] lupixch commented on #49
Yes, it works! Perfect! Thank you very much.

[2015-11-17 23:53] kamilfb commented on #52
Fixed in 0.3.1 beta build 34.

[2015-11-19 05:11] phpbbireland opened #53 "Can't exit and can't close tabs (0.3.1-beta-b34)"
0.3.1 beta (build 34) on Windows 7

Can't close tabs (right click > unsubscribe and close tab)...
Can't exit the program either... only option is Ctrl+Alt+Del...

Apologies if

[2015-11-19 09:37] kamilfb commented on #53
Hi! Any chance you could attach the mqtt-spy.log?

[2015-11-19 10:13] phpbbireland commented on #53
Here you go...
[code]

[2015-11-19 10:44] kamilfb commented on #53
Thank you for the extra info! I'll look into it tonight and should get a new build by tomorrow.

[2015-11-19 22:14] kamilfb commented on #53
Should be fixed in build 38 - please try and confirm if that's any good.

[2015-11-21 23:27] kamilfb commented on #43
Hi Dominik. I'm planning to add more TLS/SSL options to version 0.4.0. Beta should be available in December.

[2015-11-30 22:37] kamilfb commented on #53
Fixed in 0.3.1.

[2015-11-30 22:37] #53 closed

[2015-11-30 22:37] kamilfb commented on #52
Fixed in 0.3.1.

[2015-11-30 22:37] #52 closed

[2015-11-30 22:38] kamilfb commented on #50
Fixed in 0.3.1.

[2015-11-30 22:38] #50 closed

[2015-11-30 22:38] kamilfb commented on #49
Fixed in 0.3.1.

[2015-11-30 22:38] #49 closed

[2015-12-19 22:26] kamilfb commented on #43
This functionality should be now available in 0.4.0 beta

[2016-01-05 16:37] avine01 opened #55 "parseMessageLog Null Pointer Exception"
When attempting to run a script to replay a message log (see attached files), the following exception is being raised:
[Logs.zip](https://github.com/kamilfb/mqtt-spy/files/78652/Logs.zip)

java.lang.NullPointerException
        at pl.baczkowicz.mqttspy.logger.MqttMessageLogParserUtils.parseMessageLog(MqttMessageLogParserUtils.java:121)
        at pl.baczkowicz.mqttspy.logger.MqttMessageLogParserUt

[2016-01-07 20:59] darugnaa opened #56 "Add support for Kura's payload format"
Hi Kamil,
I was thinking about implementing a custom payload decoder/encoder to support [Kura's payload format](https://www.eclipse.org/kura/).
However I can't fully understand where and how the incoming messages processing happens.
Could you share some hints to point me in the right direction? I saw a "Custom" menù item that is actually disabled, so I think there's a way to "plug" new decoders.
T

[2016-01-08 09:29] kamilfb commented on #56
Hi,

One way to do that is to define a custom formatter. Go to Menu -> Window -> Open View -> Formatters and add a new script-based formatter. Then you can edit the sample javascript to do what you need.

Once you've got your formatter defined, you can then select it for a connection.

Let me know how you get on with that...

[2016-01-10 23:44] kamilfb commented on #55
Fixed in 0.4.0 beta (build 7). Many thanks for reporting this.

[2016-01-10 23:44] #55 closed

[2016-01-10 23:45] kamilfb commented on #43
Available from 0.4.0 beta (build 4).

[2016-01-10 23:45] #43 closed

[2016-01-11 14:09] davidjrawlings opened #57 "Refreshing list of scripts"
I couldn't find a way of refreshing the list of scripts when the list is empty, except by closing the application and re-starting it.

[2016-01-19 21:37] kamilfb commented on #57
Fixed in 0.4.0 beta build 10 - please confirm it's now working as expected.

[2016-01-22 00:02] kartben commented on #56
That would be a great addition, yes!
@kamilfb , since the Kura payload is actually encoded using Protocol Buffers, will that be possible for the provided script to import an external protobuf JS library from, say, a CDN?

[2016-01-22 10:53] avine01 opened #58 "Exception when running test case script"
mqtt-spy-0.4.0-beta-b10-jar-with-dependencies.jar

When attempting to run a test case from within MQTT spy, the following exception occurs:

 2016-01-22 10:27:54,168 ERROR [SpyUncaughtExceptionHandler   ]  - Thread Thread[JavaFX Application Thread,5,main] failed with java.lang.NullPointerExc
eption: Input stream must not be null
java.lang.NullPointerException: Input stream must not be null

[2016-01-24 22:27] kamilfb commented on #58
Many thanks for reporting this - should be fixed in 0.4.0 beta build 12. Please check if that's any good now.

[2016-01-27 09:28] kamilfb commented on #56
All sounds possible I think! I haven't used Kura before though, but I'm very happy to help on that. What would help:
- have public Kura running somewhere and publishing over MQTT
- get a sample Java app receiving those updates and formatting it right
- then we can easily add it to mqtt-spy
darugnaa, kartben, is it something you could assist with?

[2016-01-29 10:24] darugnaa commented on #56
I was thinking about a Java solution (some sort of plugin maybe?).
I'll dig a bit into javascript formatters and see what I can get.

[2016-01-30 00:18] kamilfb commented on #56
To help me better understand what we are trying to achieve, could you post a sample of how you would use the custom payload encoder/decoder? Could you attach an example of how the message looks like when it is encoded, and how it could look like when decoded?

[2016-01-30 03:27] kartben commented on #56
I shall do that!

Le sam. 30 janv. 2016 01:18, Kamil Baczkowicz <notifications@github.com> a
écrit :

[2016-01-31 21:59] kamilfb commented on #57
Fix released in v0.4.0.

[2016-01-31 21:59] #57 closed

[2016-01-31 21:59] kamilfb commented on #58
Fix released in v0.4.0.

[2016-01-31 21:59] #58 closed

[2016-02-01 14:07] maiorfi opened #59 "Message log with no topic aggregation?"
Hi.

Is it possible to view messages log without grouping them by topic? Often it is useful to simply look at all incoming messages while they arrive...

Thanks!

[2016-02-01 14:39] kamilfb commented on #59
Hi @maiorfi,

If I understand your question right - "no topic aggregation" is the default behaviour. If you subscribe to say "test/#", you will see all messages on that subscription, one after another.

If there are two topics, e.g. "test/1" and "test/2", by default, both are shown in the "message browser pane". You then have the option of showing messages for a specific topic or topics by using t

[2016-02-01 15:12] maiorfi commented on #59
My wish was being able to see distinct messages even if they have exactly the same topic.

I have many cases where messages are published without a "unique identifier", i.e. where messages have same topic because the latest does not "overwrite" the previous since it does not "update" a "state" information, but on the contrary it is used as a mean to express that an event has just happened.

[2016-02-01 16:00] maiorfi commented on #59
Actually, everything I asked for was already in "search" window, where using "Search with Script" or "Search with Inline Script" I can do everything I need.

Thanks!

[2016-02-01 16:00] #59 closed

[2016-02-01 16:11] acoxall commented on #59
Hi Kamil,

Just a few notes on the excellent software.

I'm accessing 3 brokers on a lan, using a PC and 2 RPis and I'm mainly using it for graphing data.

On version 4, all (3) graphs are updated correctly and in time.  However changing options or scales only works very slowly (2 or 3 minutes)  This is maybe because the main PC that runs the Spy software is not powerful enough.

Is there any way

[2016-02-01 16:16] kamilfb commented on #59
Hi @acoxall - any chance you could raise a new issue for that so that we can look into it separately from the "aggregation" one?

[2016-02-01 16:45] acoxall opened #60 "Save graphs at regular intervals"
It would be great to be able to save the graphs that mqtt-spy produces, at regular intervals.
These could then be published to a web page.

[2016-02-01 17:01] kamilfb commented on #60
Hi Al. Thanks for raising this. Sounds very do-able. I'll look into it soon.

[2016-02-01 17:04] kamilfb commented on #60
Could you also describe the conditions under which it starts running slowly, e.g. what you do and how it behaves?

[2016-02-01 17:11] tomvitez opened #61 "Multiple connections support - enhancement request"
Can you support/manage multiple client connections today in mqtt-spy-daemon? The reason I ask is I'm wanting to use the deamon to put load on my MQTT broker to simulate 1000's of simultaneous TCP clients. /Tom

[2016-02-01 17:23] acoxall commented on #60
I cant really describe this as an issue since it is most likely to be caused by the low spec PC (32 bit single core) under Win7.

I have the PC and 2 RPis running Mosquitto / Paho on each.

The systems send about 5 topics each, every 10 seconds from weather, boiler (temp) and electricity monitors

Javaw.exe is showing about 49% CPU usage all the time on the PC which is running SPY. I'm also runnin

[2016-02-01 20:09] kamilfb commented on #61
Hi! Apart from creating multiple connections, what are your requirements for publications and subscriptions? Any specific messages?

[2016-02-01 23:21] kamilfb commented on #60
Al, have a look at this one: tinyurl.com/mqtt-spy-download/mqtt-spy-0.5.0-beta-b1-jar-with-dependencies.jar and tell me if that's any good. There is a new item in the "Options" button on the chart window. Once you do Save as, it enables auto-export options.

[2016-02-02 01:11] tomvitez commented on #61
I'm trying to simulate real system load so I will have some connections publishing to topics and many more connections subscribed to these topics. The other option from using your deamon is for me to write Grinder scripts that call the Paho Java client API's directly and have some vUsers (threads) simulating connections to publish and others to subscribe... I hope that answered your question?

[2016-02-02 01:16] acoxall commented on #60
Hi Kamil,

This is working really well and is exactly just what I wanted!!!  It is already up on my in-house web-site.

Thanks so much for this….It was just what I needed

Al

From: Kamil Baczkowicz [mailto:notifications@github.com]
Sent: 01 February 2016 23:22
To: kamilfb/mqtt-spy
Cc: acoxall
Subject: Re: [mqtt-spy] Save graphs at regular intervals (#60)

Al, have a look at this one: tinyurl.com/

[2016-02-02 08:41] kamilfb commented on #60
I'm glad it works fine! Would you consider making a small donation to UNICEF at https://www.justgiving.com/mqtt-spy? Cheers!

[2016-02-02 08:41] #60 closed

[2016-02-02 12:01] acoxall commented on #60
No problem, I will do that now  and thanks again

Al

From: Kamil Baczkowicz [mailto:notifications@github.com]
Sent: 02 February 2016 08:41
To: kamilfb/mqtt-spy
Cc: acoxall
Subject: Re: [mqtt-spy] Save graphs at regular intervals (#60)

I'm glad it works fine! Would you consider making a small donation to UNICEF at https://www.justgiving.com/mqtt-spy? Cheers!

—
Reply to this email directly or vie

[2016-02-02 12:08] kamilfb commented on #60
Awesome! Thank you for your support!

[2016-02-02 12:15] kamilfb commented on #61
Hi Tom. It is possible, but wouldn't be very practicable in its current form. I'm looking into creating something that would allow specifying groups of daemon instances, each group containing a number of instances required and a template configuration. Then the scripts would be automatically provided with an instance ID so that scripts can be used as templates too. Does it make any sense? ;)

[2016-02-02 13:57] tomvitez commented on #61
Yes this makes sense to me and would be very valuable. In the mean time, you say it is possible in its current form to accomplish what I'm after. Have you or anyone you know done something similar and would be willing to share some sample(s)?

[2016-02-03 08:57] kamilfb commented on #61
Hi @tomvitez!

I decided to do it "properly" and last night created mq-spy-swarm (https://github.com/kamilfb/mq-spy/tree/master/mq-spy-swarm).

You can download the jar from: http://baczkowicz.pl/mq-spy/download/mq-spy-swarm-0.0.1-beta-b7-jar-with-dependencies.jar

Then run "java -jar mq-spy-swarm-0.0.1-beta-b7-jar-with-dependencies.jar config.xml".

Sample config: https://github.com/kamilfb/mq-sp

[2016-02-03 13:57] tomvitez commented on #61
You are a machine! THANK YOU... I will give it a whirl and let you know how it works for me. Very much appreciated.

[2016-02-03 14:37] kamilfb commented on #61
No problem - if something needs improving, let me know.

[2016-02-04 13:35] kamilfb opened #62 "Start mqtt-spy via URL from iot.eclipse.org"
A placeholder for discussion around running mqtt-spy directly from iot.eclipse.org and/or eclipse.org/paho

Current TODOs:
- Create JNLP file and self-signed mqtt-spy jar, run it from a sample server
- Get eclipse.org Java code signing certificate to sign the mqtt-spy.jar
- Deploy the JNLP and signed mqtt-spy.jar at iot.eclipse.org or paho
- Discuss how we release updates

@kartben @icraggs

[2016-02-04 13:39] kartben commented on #62
Thanks for initiating the discussion!

[2016-02-04 14:20] kartben commented on #56
Hi @kamilfb – is that helpful? https://gist.github.com/kartben/a07c6f5cb1aa3ad6473d

[2016-02-04 16:38] kamilfb commented on #56
Yes - thank you @kartben! Have you also got a live feed of Kura's MQTT messages that I could test with? E.g. iot.eclipse.org?

[2016-02-04 17:21] kartben commented on #56
It's not "live", but there's a few Kura gateways that do post messages on "$EDC/#" root topic once in a while. Now that I think about it, I realize that the payload can also be gzipped, if that's what's configured in the Kura settings.

So I guess you have now two ways for testing:
- either listen to iot.eclipse.org, and once in a while it's likely you may see messages with a gzipped payload (with

[2016-02-04 23:23] kamilfb commented on #56
@darugnaa @kartben I believe I made some progress :)

Before formatting:
![before](https://cloud.githubusercontent.com/assets/8521600/12833074/14ea9bf8-cb96-11e5-8c22-d356a998404b.png)

After formatting:
![after](https://cloud.githubusercontent.com/assets/8521600/12833081/1f664adc-cb96-11e5-86b2-bbdd822c5734.png)

Is that the sort of thing you are after?

[2016-02-04 23:53] kamilfb commented on #56
You can try it now with mqtt-spy 0.5.0 beta build 4. Just follow the example in the Formatting wiki page to set up a new formatter and the use it.

[2016-02-05 13:15] kamilfb commented on #62
I think I'm done with 1), see: [mqtt-spy web start, http://baczkowicz.pl/mqtt-spy/webstart](http://baczkowicz.pl/mqtt-spy/webstart)

Created a sample HTML page, with linked JNLP file that loads a self-signed mqtt-spy JAR file. To do it properly, someone from Eclipse would need to sign the mqtt-spy JAR with the Eclipse's certificate, so people don't get security warnings.

What are your thoughts?

[2016-02-05 13:16] RickorDD opened #63 "InvalidKeyException"
**0.4.0 (build 4) and (build 12) have InvalidKeyException.**
**Testing with AWS Account and Java 1.8.0_71**

**mqtt-spy.log**

2016-02-05 13:25:17,007 INFO  [JavaFX Application Thread     ] [MqttConfigurationUtils        ]  - Auto-complete for server URI (A3N80655B02D7L.iot.eu-west-1.amazonaws.com -> ssl://A3N80655B02D7L.iot.eu-west-1.amazonaws.com)
2016-02-05 13:25:17,012 ERROR [JavaFX Applicatio

[2016-02-05 13:22] kamilfb commented on #63
Any chance you could attach the configuration file you are using? I'd like to see which TLS/SSL mode you are using. Also, did you say you got it working with MQTT.fx?

[2016-02-05 13:38] kamilfb commented on #63
I might have identified the problem - could you try http://tinyurl.com/mqtt-spy-download/mqtt-spy-0.5.0-beta-b5-jar-with-dependencies.jar ?

[2016-02-05 13:44] RickorDD commented on #63
0.5.0 the same error
what is with PKCS8 and PKCS1?

Caused by: java.security.InvalidKeyException: invalid key format
	at sun.security.pkcs.PKCS8Key.decode(Unknown Source)

My (AWS) Key begin with "-----BEGIN RSA PRIVATE KEY-----"
I tested with "-----BEGIN PRIVATE KEY-----" the same error.

[2016-02-05 13:56] RickorDD commented on #63
Update 0.5.0 is connected.
and another proposal to improve:
"Client key password" need a value although AWS needs none

[2016-02-05 15:24] kamilfb commented on #63
Hi @RickorDD! Is it working now as expected? Can to connect to AWS correctly now?

[2016-02-06 09:30] RickorDD commented on #63
yes 0.5.0 beta (build 5) running fine with AWS

[2016-02-06 10:52] kamilfb commented on #63
Awesome! Thanks for confirming. Could you also explain further the client key password issue? Does it fail when you leave it empty?

[2016-02-06 11:24] RickorDD commented on #63
One more note
“Client key in PEM format” is Yes

And i checked again with empty “Client key password” and now its running.
So it should be good.

[2016-02-06 11:26] #63 closed

[2016-02-06 11:47] kamilfb commented on #63
Many thanks @RickorDD for raising it in the first place and retesting it with the beta version. I'm glad we managed to get it sorted. Cheers!

[2016-02-06 12:03] kamilfb commented on #63
If anyone wants to stick to v0.4.0 instead of v0.5.0 beta then putting the key to a keystore should get it working.

[2016-02-07 19:29] kamilfb opened #64 ""Stop" command for publication scripts doesn't work when "repeat" is selected"
The "Stop" command for publication scripts doesn't work when "repeat" is selected. The script continues running, whereas it should be stopped regardless.

The workaround is to deselect "repeat" first.

[2016-02-07 23:04] kamilfb commented on #25
Resizing should now work fine - replaced the new subscription pane with a new tab symbol.

[2016-02-07 23:04] #25 closed

[2016-02-07 23:05] kamilfb commented on #64
Fixed by checking if a script should be re-run following a stop command.

[2016-02-07 23:05] #64 closed

[2016-02-28 14:47] TotallyInformation opened #65 "Request: Custom formatter for JSON payloads"
Hi,

Many, many thanks for creating this tool. It is really helpful.

One thing I find myself doing though is often copying the data payload and pasting to Notepad++ then formatting as JSON so that I can make sense of data.

It would be great if we could have a formatter that would pretty-print JSON in the data part of the "Subscriptions and received messages" section of the display.

I don't supp

[2016-02-29 22:44] kamilfb commented on #65
Thanks for raising this Julian - I'll look into it.

[2016-03-03 11:44] kamilfb commented on #61
Hi @tomvitez - have you got any feedback on that? Shall we close the issue?

[2016-03-03 22:38] kamilfb commented on #65
Hi @TotallyInformation,

I've created a new beta build for you to try: http://baczkowicz.pl/mqtt-spy/download/mqtt-spy-0.5.0-beta-b7-jar-with-dependencies.jar

Let me know if that is any good.

[2016-03-04 11:07] lnun13 opened #66 "When resizing mqtt windows to lower size, right buttons are no more available"
Hi.
Here is an issue I saw:

Launch mqqt-spy application.
Set it as full screen then restore original size.
Defect: right buttons may have desappear (depending on original size).
If you do not want anymore full screen, you need to restart application.

By right button, I mean:
- publish
- subscribe
- tools,
-search
- message navigation
![mqtt](https://cloud.githubusercontent.com/assets/17641339/13

[2016-03-04 11:18] lnun13 opened #67 "Subscription that have been defined in connection setting, is not subscribed until a re-subscribe is performed"
Hi.

I created a connection with several topics subscriptions and when I connect to this connection, all thoses topics are in fact not subscribed: title is in italic font and messages of related topics are not displayed.
As a result, to have the topics declared as subscribed in connection parameters truly functional, you need to re-subscribe to all those topics.

Thanks.
Regards

[2016-03-04 11:19] kamilfb commented on #66
Hi. Which version of mqtt-spy and Java are you using?

[2016-03-04 11:20] kamilfb commented on #67
Hi. Which version of mqtt-spy and Java are you using?

[2016-03-04 11:25] kamilfb commented on #67
In configuration for your connection, have you selected "Auto-subscribe when opened" (the "Other" tab)?

[2016-03-04 14:13] kamilfb commented on #67
No problem - I'm glad it works. It's a good suggestion so I'll add it to my list to consider in the future. Are you happy to close this issue now?

[2016-03-04 14:17] kamilfb commented on #66
Hi @lnun13!

I've just tried the same version of mqtt-spy on Java 8 Update 73, on Windows 7, and I can't reproduce your problem in any way.

I believe to create this problem you simply click on "Maximise" and "Restore" buttons for the mqtt-spy window? Which OS are you on?

Could you update to Java 8 Update 73 and retry?

[2016-03-05 22:29] #67 closed

[2016-03-05 22:33] kamilfb commented on #66
Hi! Thanks for confirming. I was also able to reproduce it on Windows 10. I'll look into it!

[2016-03-06 21:59] kamilfb commented on #56
@darugnaa @kartben mqtt-spy 0.5.0 beta build 7 has got a built-in Eclipse Kura formatter. Also, it converts the payload automatically to JSON and does pretty formatting on it. Could you confirm it is working as expected?

[2016-03-07 09:42] lnun13 opened #68 "On connection list window, it is not possible to increase area for connection parameters"
Hi.

When I open connection list to edit parameters, I wanted to see all parameters of my subscribed topics at the same time. So I tried to increase the size of area allocated to parameters but it is not possible, even if I set windows to full screen (additionnal size is then used to the connection list itself which is, for me, less relevant.)
It would be nice to have larger area for connection pa

[2016-03-07 10:23] kamilfb commented on #68
Thanks for raising - I'll look into it...

[2016-03-07 16:24] tomvitez commented on #61
Hi Kamil, Sorry for the tardy response I ended up delegating the evaluation of swarm to a colleague on the project. He tried to get things going but had issues connecting with a signed SSL certificate. Cannot use any properties – e.g. UserCredentials and SSL – other than those specified on “mq-spy-swarm-configuration.xsd”. See exception in the log file attached...
[mq-swarm-log.txt](https://github

[2016-03-07 16:35] kamilfb commented on #61
Hi @tomvitez - looks like your XML tags are not right. It is important to keep the correct sequence of XML tags. See examples:

https://github.com/kamilfb/mqtt-spy/wiki/DaemonConfiguration

UserCredentials is defined just after ClientId, and SSL just after the KeepAlive and before MessageLog.

For more info see MqttConnectionDetails in https://github.com/kamilfb/mqtt-spy/blob/development/mqtt-spy-

[2016-03-08 17:33] kamilfb commented on #66
What causes this issue is when you select a non-default text size on Windows. The default is Smaller (100%). If you use Medium (%125) or Large (%150) then you will experience the issue.

**Workaround: change text size to Smaller (100%) in Control Panel -> All Control Panel Items -> Display.**

[2016-03-11 12:06] kamilfb commented on #68
Could you try the latest beta and see if that's any better now?
http://tinyurl.com/mqtt-spy-download/mqtt-spy-0.5.0-beta-b15-jar-with-dependencies.jar

[2016-03-11 12:06] kamilfb commented on #66
Could you try the latest beta and see if that's any better now?
http://tinyurl.com/mqtt-spy-download/mqtt-spy-0.5.0-beta-b15-jar-with-dependencies.jar

[2016-03-11 12:17] lnun13 commented on #68
Hi.

I just tried. I confirm this solve the issue :-)
Thanks a lot for this good tool.

[2016-03-11 12:18] lnun13 commented on #66
I confirm that with this release, problem is solved!
Thanks.

[2016-03-11 12:26] kamilfb commented on #66
Thanks for confirming! Cheers

[2016-03-11 12:26] #66 closed

[2016-03-11 12:26] kamilfb commented on #68
Thanks for confirming! Ta

[2016-03-11 12:26] #68 closed

[2016-04-01 09:44] lnun13 opened #69 "In one case, it is no more popssible to add a topic subscription unless connection and tabs are closed and reopened"
Reproduced on windows 7 Pro with mqtt spy 0.5.0 beta build 15.

Subscribe to several topics so that all topic tabs cannot be displayed simultaneously. (topic can have long name to have wider size)
Using arrow on right side of subscribed topic tab, select last subscribed topic.
Now, you cannot access anymore  to "New" tab to subscribe to topic except closing/ restoring connection/tabs that will los

[2016-04-01 12:03] gatovelho opened #70 "problem saving scripts"
Hi,
thank you very much for sharing mqtt-spy.

I am no software type so I may be saying something very wrong. Hope not.

I am using "mqtt-spy-0.4.0-jar-with-dependencies "on windows 10 home (32 bits)

an d I am having problems with directories .
Notably (but not only)  I am not being able to save scripts. They just vanish.
Had to create a few of them them by hand.
The demon also fails creating fil

[2016-04-01 13:16] kamilfb commented on #70
Hi. Thanks for reporting this issue. I've managed to reproduce it. Will try to get a fix for that soon.

[2016-04-01 13:21] #65 closed

[2016-04-01 13:21] #56 closed

[2016-04-01 21:13] kamilfb commented on #61
mq-spy renamed to msg-spy - please see the other repo for this issue.

[2016-04-01 21:13] #61 closed

[2016-04-01 21:30] kamilfb commented on #69
There is a workaround to use a keyboard shortcut: Ctrl+Shift+S. Will be fixed in 0.5.0. Thanks for reporting!

[2016-04-01 22:32] kamilfb commented on #70
Fixed in 0.5.0 - could you try it out?

[2016-04-01 22:32] kamilfb commented on #69
Fixed in 0.5.0 - could you try it out?

[2016-04-02 19:28] gatovelho commented on #70
Thank you.
I will submit feedback after doing some work

[2016-04-02 21:02] gatovelho commented on #70
Did some testing.
It has improved, but still has some problems.
the good: it now looks at default directory for publishing scripts. Finds the script if it is there.
the bad: is not able to "publish from script" when Topic is empty, even if has the Topic embedded in the script. If we put even a space in the topic, then it gets published.
also bad: does not look for the scripts in the "directory wit

[2016-04-02 22:49] kamilfb commented on #70
Many thanks for the feedback. I will look into it further...

[2016-04-03 08:56] gatovelho commented on #70
Just ocurred to me: strictly speaking, this topic should be considered closed. I found no problems when saving scripts in the new version 050.
I could open a new issue on the difficulties reported above if you think that is the proper way.
Regards

[2016-04-03 20:12] kamilfb commented on #70
Hi. Sounds like a good plan! I'll close this one as fixed and if you don't mind, please open new issue(s) for the other problem(s). Cheers!

[2016-04-03 20:12] #70 closed

[2016-04-03 20:33] TotallyInformation commented on #65
Sorry, missed the message. Trying now.

[2016-04-03 20:41] TotallyInformation commented on #65
Yay! That's great - many thanks for that, it's going to make a big difference. And you've fixed quite a few formatting issues I've always had on Windows, especially when moving between monitors with different settings.

[2016-04-03 20:51] kamilfb commented on #65
Many thanks @TotallyInformation for the feedback - happy to hear you like it. Would you consider making a small contribution to UNICEF at https://www.justgiving.com/mqtt-spy/ ? Any other problems - let me know!

[2016-04-04 06:53] lnun13 commented on #69
Hi.
I confirm. "New" is now always enabled.
Thanks for your reactivity.
Regards.

[2016-04-04 08:00] kamilfb commented on #69
Cool - thanks for confirming! Cheers

[2016-04-04 08:00] #69 closed

[2016-04-04 10:45] gatovelho opened #71 "publishing with scripts - topic empty"
Hello,
I  am using mqtt-spy-050 on WIndows 10 32 bits home .

After opening (mqtt and firing) a connection window on my local broker, the publish message topic
is empty (methinks: starting with my default publish topic would be useful, but this is not the issue).

Then, after  selecting  a publishing script and try to use it by "publishing with script",
I get a popup saying "cannot publish to an e

[2016-04-04 11:13] gatovelho opened #72 "publishing with scripts - problem with reply"
Hello,

I am using a simplereply2.js script for auto feedback/callback on a message topic.
It is being declared in the connection manager, in the subscriptions/topic/script  entry tab, by
complete name (including .js)

This script, apparently, is not called/executed when it resides in the configuration/scripts directory ,
to where the scripts are saved by default, but is properly executed when loc

[2016-04-04 11:20] kamilfb commented on #72
@gatovelho, are you getting any exceptions logged in the mqtt-spy log file?

[2016-04-04 11:35] gatovelho commented on #72
Clean log.

[mqtt-spy.zip](https://github.com/kamilfb/mqtt-spy/files/202293/mqtt-spy.zip)

For this log, the reply script was put in the publish directory (the fail case)

If you want I can also send log for the other setup (simplerepl2 on the app dir)

[2016-04-04 11:50] kamilfb commented on #72
Thank you! I will take a look...

[2016-04-04 12:05] gatovelho commented on #72
When the script is on the app directory:

    2016-04-04 12:59:06,064 INFO  [JavaFX Application Thread     ]
    [ViewManager                   ]  - Loading configuration file from
    C:\Users\Ulisses\mqtt-spy\mqtt-spy-configuration.xml
    2016-04-04 12:59:06,162 INFO  [JavaFX Application Thread     ]
    [MqttConfigurationUtils        ]  - Auto-complete for server URI
    (192.168.1.3:1883 -> t

[2016-04-04 12:07] gatovelho commented on #72
[mqtt-spy-configuration.zip](https://github.com/kamilfb/mqtt-spy/files/202350/mqtt-spy-configuration.zip)

[2016-04-04 12:45] gatovelho commented on #72
OK found a solution:
    the script name (simplereply2.js) must be entered in full in
    Subscriptions

    (copied from configuration file)

    before:
                <Subscription createTab="true" qos="0"
    topic="/mcu/rgbled_status/" scriptFile="simplereply2.js"/>
    after:
                <Subscription createTab="true" qos="0"
    topic="/mcu/rgbled_status/"
    scriptFile="C:\Users\Ulis

[2016-04-04 13:48] pfurbacher opened #73 "How do you build this project?"
I'm very interested in this project, mainly from the perspective of the JavaFX UI.

I cloned the "development" branch, and before that the "master" branch.

Neither will build successfully.

Here's what I have done, based on the apparent order of dependencies in the various projects. But I have had no success, primarily due, I think, to not being able to access the Paho snapshot, version 1.0.3-201

[2016-04-04 15:14] gatovelho commented on #72
I just removed some of the content that I  believe was not being useful

[2016-04-04 16:01] kamilfb commented on #72
Many thanks for the info - I'll add checking if the scripts exists when setting it up (in the location mqtt-spy thinks it should be in) and also if it is a relative path, looking for it in the configured script directory.

[2016-04-04 16:36] gatovelho commented on #72
Okay. And I just removed my config file. Probably not useful for anyone.
Regards!

[2016-04-04 23:27] kamilfb commented on #73
See the dev branch - added a top-level POM and updated some of the dependencies. Any better?

[2016-04-05 03:40] pfurbacher commented on #73
Yes, much better. Nice UI! Now I have to learn more about MQTT.

I'm thinking this issue can be closed.

Thanks.

[2016-04-05 07:30] kamilfb commented on #73
Thanks @pfurbacher for the feedback. If you find it useful, please consider making a small contribution to UNICEF at https://www.justgiving.com/mqtt-spy/

[2016-04-05 07:30] #73 closed

[2016-04-06 19:34] TotallyInformation commented on #65
Contribution done. Thanks for reminding me to do that. I also gave you a mention on the [Google Group for Node-Red](https://groups.google.com/forum/#!forum/node-red), a flow-based tool aimed largely at IoT so there are a lot of heavy MQTT users there. NR is developed as an open source tool by IBM. A lot of us use JSON payloads for IoT so the formatter is really useful.

[2016-04-06 21:10] kamilfb commented on #65
Awesome! Thank you! :)

[2016-04-21 07:32] kamilfb opened #74 "Messages in a list"
The message browser pane only allows to see one message at a time for a given topic or group of topics (see below):
![12 - first pub received - selection](https://cloud.githubusercontent.com/assets/8521600/14701048/01ef3b94-079b-11e6-8061-02c8cb6da855.png)

In order to see messages as a list, you have to perform a search (by clicking on the search button shown above), and enable auto-refresh (see

[2016-05-06 16:31] pfurbacher opened #75 "Warning: "The plugin is configured to use catalogs and strict at the same time.""
In the Eclipse Error Log, I'm seeing the following warning multiple times when Maven rebuilds:

To resolve this warning, you would add `<strict>false</strict>` as shown in the following `pom.xml` snippet:

[code]

This warning occurs when Eclipse automatically builds/updates the `pom.xml` file in the following projects:
- mqtt-spy
- mqtt-spy-common
- mqtt-spy-daemon

There is no `<catalogs>` eleme

[2016-05-07 14:39] bhaskar001 commented on #74
nice but can we find the packet loss and end to end delay by this tool ?

[2016-05-07 18:54] kamilfb commented on #74
@bhaskar001, could you explain what you mean by packet loss & e2e delay?

[2016-05-07 21:52] kamilfb commented on #75
Thanks for reporting this! I'll look into it.

[2016-05-08 20:42] kamilfb commented on #75
That should be in the dev branch now - could you confirm it is working as expected?

[2016-05-09 19:36] pfurbacher commented on #75
Looks like it is fixed.

[2016-05-13 19:04] kamilfb commented on #75
Cool - thank you!

[2016-05-13 19:04] #75 closed, assigned to kamilfb

[2016-05-13 19:07] kamilfb commented on #72
Hi - I've added checks to warn the user if the script does not exist. When you type in the name of the script and submit it, it gives you a warning when the path is incorrect. Available in the latest beta.

[2016-05-13 19:07] kamilfb commented on #71
That should be fixed in the latest beta - could you see if that's any better now?

[2016-05-13 19:15] gatovelho commented on #71
[code]

I’m open to any suggestions, I’ve been wrong before.

[2016-05-13 19:17] gatovelho commented on #72
[code]

I’m open to any suggestions, I’ve been wrong before.

[2016-05-16 18:52] AngeloBestetti opened #76 "How can I use JSONPath on Charts?"
I didn´t see any info about it.

I´m getting this payload:
{"DeviceID":"68ce469e-4924-433b-b512","DeviceName":"ISS - International Space Station","Velocidade":27623.126303018,"Altitude":407.89249690649,"Latitude":50.955977913119,"Longitude":132.87471342574}

I´m trying to get the "Velocidade" using $.Velocidade but is not generating any line on the chart.

[2016-05-16 21:08] kamilfb commented on #76
Hi! See the attached picture. Right click on the series and then Edit.

![screenshot at 2016-05-16 22 06 16](https://cloud.githubusercontent.com/assets/8521600/15303977/9ce38c24-1bb2-11e6-8024-00db68ceeefb.png)

Let me know if that's any good.

[2016-05-17 12:44] AngeloBestetti commented on #76
![mqttspy](https://cloud.githubusercontent.com/assets/4291962/15322540/e25e11c8-1c13-11e6-80b2-05358858cb52.png)

[2016-05-17 13:04] AngeloBestetti commented on #76
Looks like it´s not evaluating the decimal values, also the "Delete" button is disabled.

[2016-05-17 19:56] kamilfb commented on #76
Hi. Is that on a public broker so that i can rest? Could you do edit series and attach screenshot?

[2016-05-18 12:41] AngeloBestetti commented on #76
Yes I can do Edit, no the broker is private, but I will create a credentials for you.Do you mind give me some email to send the credentials?

[2016-05-19 12:38] ColdFireIce opened #77 "message is not escaped when saving as script"
Hi,

when I save the following message as a script, the quotes are not correctly escaped and thus the script is not working:

topic: `test/set/foo/height`
payload: `{"val":92}`
"save current message as script"
`mqttspy.publish("test/set/foo/height", "{"val":92}", 0, false);`

I thing this will be a quick fix, but I ran across it, so I thought I should report it.

Thanks for this great program!

Gr

[2016-05-19 16:48] jckruege opened #78 "Feature Request - configurable Ping rate"
I'm new to MQTT and this tool is just what I was looking for.  Based on the traffic observed in Wireshark, it appears the Ping interval from MQTT-SPY to the broker is fixed at 1 minute. Although I could filter out Ping Requests and Ping Responses in Wireshark, it would be nice if the Ping rate was configurable; perhaps default to the existing 1 minute, but configurable from 1 minute to 60 minutes.

[2016-05-26 11:31] kamilfb commented on #78
Hi. Have you tried configuring the MQTT keep alive interval? The default is 60 seconds I believe.

[2016-05-26 11:33] kamilfb commented on #77
Hi. Many thanks for reporting it. I'll try to fix it for version 0.5.1.

[2016-05-26 11:43] kamilfb commented on #78
To edit the keep alive, go to your connection settings and select the Connectivity tab. If you can't see the keep alive parameter there, select the Detailed configuration mode (perspective).

[2016-05-26 19:45] SteveQuinn1 opened #79 "How to execute MQTT Spy on windows machine without Dos in a box window"
Hi,

I am using .bat file to cast the necessary runic incantations and execute the app.

java -jar mqtt-spy-0.6.0-beta-b33-jar-with-dependencies.jar

The problem is it leaves a dos box with what looks like debug information hanging around. Is there anyway I can configure my set up so all I need to do is double click something?

BTW. Excellent piece of software.

More of a question than bug.

Regar

[2016-05-26 21:03] kamilfb commented on #79
Hi,

If you have Java installed, you can just double click on the jar to start it.

Alternatively you can also create a shortcut to the jar file to pass in parameters if you need do.

If you go the .bat file route, you are always going to see the command line box.

If you haven't seen it yet, check out the getting started wiki - https://github.com/kamilfb/mqtt-spy/wiki/GettingStarted

Let me know

[2016-05-27 05:43] SteveQuinn1 commented on #79
Hi Kamil,

I appreciate the quick reply.

You are of course quite right, if I double click it runs. I just didn't occur to me to try this (even after reading the getting started Wiki) since the .jar file types on my PC install have no association with them, I assumed they wouldn't execute.

Thank you for your help

Best Regards

Steve

[2016-05-27 07:31] kamilfb commented on #79
No problem! I'm glad it's working now.

[2016-05-27 07:31] #79 closed, assigned to nobody

[2016-05-27 07:32] kamilfb commented on #76
Hi @AngeloBestetti - please send them to kamil.baczkowicz@gmail.com - cheers!

[2016-06-01 21:47] kamilfb commented on #77
This is now available in 0.5.1. Let me know if you find any further issues!

[2016-06-01 21:47] #77 closed, assigned to kamilfb

[2016-06-01 21:47] kamilfb commented on #72
This is now available in 0.5.1. Let me know if you find any further issues!

[2016-06-01 21:47] #72 closed

[2016-06-01 21:47] kamilfb commented on #71
This is now available in 0.5.1. Let me know if you find any further issues!

[2016-06-01 21:47] #71 closed

[2016-06-01 21:49] kamilfb commented on #76
Fixed the delete button issue in 0.5.1. BTW - are you on Twitter? We could discuss the JSONPath issue...

[2016-06-01 22:20] AngeloBestetti commented on #76
@angelobestetti

Em qua, 1 de jun de 2016 às 18:49, Kamil Baczkowicz <
notifications@github.com> escreveu:

[2016-06-02 12:36] AngeloBestetti commented on #76
It´s working now, I made a mistake trying to create the chart from the topic instead of creating from Message Summary Message.

[2016-06-02 12:36] #76 closed, assigned to kamilfb

[2016-06-02 12:37] AngeloBestetti opened #80 "Feature Request - XPath"
Would be nice to have same as JSONPath, XPath for XML payloads, sometimes we deal with XMLs

[2016-06-05 08:45] jsmundey opened #81 "Feature Request - Controlling QoS response messages"
How is it possible to control QoS responses manually with possibility through UI or through scripting?
When client is subscribing a topic with QoS 1 (at least once) or 2 (at most once), the subscribing client sends back PUBACK or PUBREC, PUBREL for confirmation which seems automatic at this moment. In a case where some processing required after receiving a message, QoS response requires to be cont

[2016-06-06 08:47] chelliwell opened #82 "Exceptions when using client certificate"
Similar to the problems reported in #63, but I am using version 0.5.1 build 44 (connecting to a Linux/Mosquitto broker).
I have two sets of client certs/keys - one with a password, one without. Both key files are, I believe, PEM format (so I check this option).
I can use both sets on another client (using Mosquitto) and connect successfully.

Using the set whose key file has no password, the log s

[2016-06-06 09:21] kamilfb commented on #82
Hi @chelliwell !
1) Could you provide me with all parameters you've configured in Security/TLS tab?
2) Any chance you could also supply me with sample keys/certs to try it with?
3) How did you generate the keys?

[2016-06-06 09:29] chelliwell commented on #82
Hi Kamil,
The keys were generated using the instructions (and associated scripts generate-CA.sh and generate-client.sh) on http://rockingdlabs.dunmire.org/exercises-experiments/ssl-client-certs-to-secure-mqtt
The settings are
Mode: CA certificate & client certificate/key
Protocol TLSv1.2
CA certificate ca-brix.crt
Client certificate client.crt [or client2.crt]
Client key client.key [or client2.key

[2016-06-06 14:31] kamilfb commented on #82
Thank you! I'll start looking into it...

[2016-06-07 22:14] kamilfb commented on #82
Hi @chelliwell, what other client have you used to get it working?

I remember having issues with the "-addtrust clientAuth" flag. See the generate scripts in the bouncy castle folder and mosquitto_sub. mqtt-spy uses the first one, without the flag:
https://github.com/kamilfb/mqtt-spy/tree/development/mqtt-spy-common/src/test/resources/mosquitto/ssl

Would you like to try generating the keys witho

[2016-06-08 07:30] chelliwell commented on #82
Hi Kamil.
Using the commands from the script in the bouncy_castle folder does work (although it would be 'nice' if the addtrust flag was supported).

However if I generate the key with
  openssl genrsa -des3 -out mqttspy-pp.key 2048
so that it can have a passphrase, there is still an error:

2016-06-08 08:30:03,731 INFO  [JavaFX Application Thread     ] [MqttConfigurationUtils        ]  - Auto-com

[2016-06-08 07:43] chelliwell opened #83 "Feature Request - Configuration Import/Export"
It would be useful to be able to share Connection settings with other people. Where does mqtt-spy store the configured connections, and/or is there a way to 'export' a connection to a file?

[2016-06-08 08:01] chelliwell commented on #83
Ah found it. On Windows 10: C:\Users<name>\mqtt-spy\mqtt-spy-configuration.xml

All the same, being able to export and import connections/groups would be a useful addition

[2016-06-16 20:19] jpleblanc opened #84 "Problem creating formatters"
I have installed both the 0.5.1 (build 44) and the 0.6 beta version and have not been successful in installing a formatter.  When selecting the menu option, it is going nowhere and not allowing me to define a new converter.

I am trying to read the messages coming from the Kura Heater example.  They are arriving encrypted at the MQTT server.  Even when using the Eclipse Kura setting it does not re

[2016-06-17 10:38] kamilfb commented on #84
Hi - thanks for reporting. I've managed to reproduce the issue. Have you tried version 0.5.0?

[2016-06-17 13:09] malcolmboyle opened #85 "Detached received message window and it disappeared"
Subscribed to # then detached the "Subscriptions and received messages" window to a separate window. But the new window didn't appear and I had to restart spy.

[2016-06-17 13:14] malcolmboyle commented on #85
`2016-06-17 14:01:29,438 INFO  [MQTT Call: malb               ] [MqttConnectionResultHandler   ]  - malb@172.17.40.1 connected
2016-06-17 14:01:29,440 INFO  [JavaFX Application Thread     ] [MqttEventHandler              ]  - About to resubscribe to all requested topics
2016-06-17 14:01:51,950 INFO  [JavaFX Application Thread     ] [NewSubscriptionController     ]  - Subscribing to #
2016-06-17 14

[2016-06-20 22:21] kamilfb commented on #78
Hi @jckruege - have you had any luck configuring this?

[2016-06-21 11:53] kamilfb commented on #84
Could you try the latest beta -  0.6.0 beta (build 46)?

[2016-06-21 11:53] kamilfb commented on #85
Could you try the latest beta -  0.6.0 beta (build 46)?

[2016-06-21 11:55] kamilfb commented on #80
Could you try the latest beta -  0.6.0 beta (build 46)? For now it's only XML without namespaces - hope it's fine.

[2016-06-28 10:28] nicolaMaza opened #86 "Kura formatter no longer works"
**In the "Subscription and received messages" tab (0.5.1 build 44) :**
If you choose the option _Tools **->** Formatting **->** Eclipse Kura_ the payload does not change.

This feature worked for me in the older **0.5.0 build 22**

[2016-06-28 10:42] kamilfb commented on #86
Hi. Thanks for reporting this. There is a known issue with version 0.5.1 - see https://github.com/kamilfb/mqtt-spy/issues/84 & https://github.com/kamilfb/mqtt-spy/wiki/Changelog. Could you try the latest beta and see if that resolves the problem?

[2016-06-28 12:32] nicolaMaza commented on #86
Yes, the 0.6.0-beta build 46 fix the issue.
Next time i will read the known issue page before posting :)
Nicola

[2016-06-28 12:38] kamilfb commented on #86
No problem - thanks for confirming! :)

[2016-06-28 12:42] #78 closed, assigned to nobody

[2016-06-28 12:44] nicolaMaza opened #87 "Feature Request - Maintaining opened subscriptions tabs"
Every time i open the application i lose the topic that i was monitoring.
I think it is usefull to keep the opened subscriptions tab

Nicola

[2016-06-28 12:55] kamilfb commented on #87
Hi - this should be already available! :)

Edit your connection, go to Subscriptions tab, into Topics, Add a new topic, and tick the Create tab. Then when you open the connection it will open tabs with those topics.

You can also do it by right click on the "All" tab in your live connection, and then Configuration, Add...

Let me know if that worked.

Kamil

[2016-06-28 13:08] nicolaMaza commented on #87
Yes, it works well, but honestly, I would never be able to find it.
It could be useful a button to save all the opened tabs (near 'new' for example)

Nicola

[2016-06-28 21:07] kamilfb commented on #82
I will try to look into it further - thanks for the logs.

[2016-07-01 17:55] kamilfb commented on #86
This fix is now also available in release 0.5.2.

[2016-07-01 17:55] #86 closed, assigned to kamilfb

[2016-07-01 17:56] kamilfb commented on #85
This fix is now also available in release 0.5.2.

[2016-07-01 17:56] #85 closed, assigned to kamilfb

[2016-07-01 17:56] kamilfb commented on #84
This fix is now also available in release 0.5.2.

[2016-07-01 17:56] #84 closed, assigned to kamilfb

[2016-07-01 17:56] kamilfb commented on #80
This is now also available in release 0.5.2.

[2016-07-01 17:56] #80 closed, assigned to nobody

[2016-07-08 15:36] ctron opened #88 "Starting fails with "Could not find or load main class""
Starting the client on Linux (RHEL 7) fails with:

[code]

[2016-07-08 16:23] kamilfb commented on #88
Hi. What version of java are you on?

[2016-07-08 16:32] ctron commented on #88
1.8.0 Update 91

[2016-07-11 06:50] ctron commented on #88
This is the output of `java -version`:

[code]

[2016-07-11 06:55] ctron commented on #88
This can easily be reproduced by using docker:

[code]

[2016-07-14 17:50] masudh opened #89 "GZIP Compressed Messages"
Hi Kamil: Thanks for providing this tool. It's been a great help for our project.  I have a question regarding subscribing or publishing compressed messages. If our application publishes a GZIP compressed message and support team want to subscribe to this topic mostly for troubleshoot purposes. Is there are way to do this in current product? If not, can you recommend a way around that we can imple

[2016-07-14 20:47] kamilfb commented on #88
Thanks for the info, I will look into it...

[2016-07-14 20:52] kamilfb commented on #89
Hi. Yes, that should be possible with a custom formatter. Could you supply a sample with a compressed message and what you would like to see in the UI?

[2016-07-14 21:07] masudh commented on #89
thank you.  Below is a sample of compressed message and decompress version of it. We would like to copy plain text, SPY would compress (java.util.gzip) and publish to the topic. When we subscribe, SPY will decompress and shows us the plain text.

¬‹        uP=oÃ  ý/7“ê  b¶Êí )•¢ÊêRe @ZK.Ž0q Eþï Çê”nÜÝûâ]áÐÛ
¨+ØV?±¹œ (¨  ¸Ñù8€z¿B Ý×íuÐÁôÖ5?1Áv;¹–¢,¤ õcbX×½¤#(Fàã4dYÓ{ÿä¢n»4Â±Pò¨x© W•SÚ$RF,¶ Ì¼&{ C*

[2016-07-15 16:30] danielyjc opened #90 "unable to reference "message" object in script"
Hi Kamil,

I've been working on a simple script to enrich a message from mqtt-spy (with UI). However, I noticed that spy fails to find a reference for "message" object in script.

Here's an excerpt of my script:
`mqttspy.publish(message.getTopic(), message.getPayload(), message.getQoS(), message.isRetained());`

Following is the log I captured:

Can you take a look and tell me if I'm doing anythin

[2016-07-15 20:12] kamilfb commented on #90
Hi @danyj86! Could you tell me a bit more on how you are trying to run this script? Is it from the Publish with script button, from the script list, or on message received?

[2016-07-15 20:23] danielyjc commented on #90
Hi Kamil,

I've been trying to run script from "Scripted Publications" pane.

![mqtt-spy-publication-script](https://cloud.githubusercontent.com/assets/9866116/16887430/0747960e-4aa8-11e6-97f2-28b88a758e9c.png)

Normally, I'd have a topic and a plane string message on "Publish Message" pane, so each message I publish can be dynamically enriched.

[2016-07-15 20:32] kamilfb commented on #90
I see - so the way to do it not to use "Start" from the Scripted publications pane, but use the Publish button instead (from the Publish message pane). Click on the arrow of the Publish button to see the menu, and change to "Publish with script", picking the script you want to use. If you simply start a script, it doesn't know about the "message" object. If you do it as "Publish with script" from

[2016-07-15 20:37] danielyjc commented on #90
Thanks, it works!

[2016-07-15 20:37] #90 closed, assigned to nobody

[2016-07-15 21:16] kamilfb commented on #89
Hi @masudh! Take a look at the commit referenced above - two files there - one is a publication script to send messages, second is a custom formatter. To create one, to go the Formatters window (Menu -> Open view -> Formatters), create a new script-based formatter, paste in the javascript, then apply any changes. Once added, it should appear under Tools -> Formatting -> Custom. Let me know how to

[2016-07-15 21:22] kamilfb commented on #88
Hi @ctron! Have you tried adding "apt-get install openjfx"? Or using "openjdk-8-jre" or "openjdk-8-jdk" instead of "openjdk-8-jre-headless"?

[2016-07-15 21:23] kamilfb commented on #90
Cool, thanks for confirming!

[2016-07-16 02:30] masudh commented on #89
Thanks a lot. I will try and let you know.

[2016-07-16 06:09] ctron commented on #88
I was already using open jdk 8. And I am on RHEL 7, I don't know if there are any additional openjfx packages. However javafx applications work in general.

But using the docker instructions I posted you should be able to test it pretty easily.

[2016-07-20 19:34] kamilfb commented on #88
@ctron, as mentioned before, you are missing openjfx libs - you can install them with the following command:

apt-get install openjfx

[2016-07-21 12:02] ctron commented on #88
You are right! On Ubuntu it seems as if JavaFX was missing. Installing with apt-get worked.

However on RHEL7/CentOS7 there is no package named "openjfx".

[2016-07-21 14:00] kamilfb commented on #88
Cool - I'm glad it worked on Ubuntu :) I don't think RedHat & CentOS fully support openjfx. The only way forward is probably to use the Oracle's JRE/JDK when on RHEL/CentOS. If you hit any more problems, just re-open it or raise a new issue.

[2016-07-21 14:00] #88 closed, assigned to nobody

[2016-07-21 14:17] ctron commented on #88
Ok, so no luck for me ;-)

But thanks for your help!

[2016-07-21 19:28] kamilfb commented on #88
Why can't you use Oracle's JRE instead?

[2016-07-25 01:39] Greg-Belcher opened #91 "unable to reference "receivedMessage" object in script"
Hi Kamil,
I'm trying to write a simple script that will execute when a subscription is received. It will read some data from the received payload and then publish it to a new topic. I have assigned the script to the script tab in the subscriptions topic of the connection management configuration dialog window.
When I re-open the connection, the log shows the script failed with "unable to reference

[2016-07-25 08:41] kamilfb commented on #91
Hi @Greg-Belcher!

Many thanks for reporting this. Some time ago I did some refactoring and forgot to update the wiki :( Could change your scripts to follow the new example in the https://github.com/kamilfb/mqtt-spy/wiki/ScriptingSubscriptions wiki?

The main difference is that now you need to name your method `onMessage()`, not call it from anywhere, and best to use mqtt.publish rather than mqtts

[2016-07-25 10:44] Greg-Belcher commented on #91
Hi Kamil,

Many thanks for your rapid reply.
I am pleased to confirm that having implemented your suggested changes, the script is now working as intended. :)

With regard to your Auto-reply example...
function onMessage()
{
    mqtt.publish(
            "/reply", "<simpleReply><topic>" + receivedMessage.getTopic() + "</topic>"
            + "<payload><![CDATA[" + receivedMessage.getPayload() + "]

[2016-07-25 11:08] kamilfb commented on #91
Cool - glad to hear it works!

The example is just some pretty random XML with a CDATA tag, so that it is still valid XML if your payload is XML itself. You don't need to use XML in reply - totally up to you. The mqtt.publish works the same as for a normal publication, so whatever topic and payload you want. Does this answer your question?

[2016-07-25 11:14] Greg-Belcher commented on #91
Hi Kamil,

Yes thanks - your answer is clear to me.
Thanks again for this great test tool.

regards
Greg

[2016-07-25 11:14] #91 closed, assigned to kamilfb

[2016-07-26 18:06] elAlexOm commented on #91
Good afternoon.
It would be desirable to express gratitude for the MQTT_SPY.
Very help in work.
Alex.

[2016-07-26 21:06] kamilfb commented on #91
@Greg-Belcher @elAlexOm - that's great you like it! Maybe you would consider making a small contribution to UNICEF at https://www.justgiving.com/mqtt-spy/ ? Don't forget to star it on GitHub and follow mqtt-spy on Twitter! :)

[2016-07-28 11:58] NicolSpies opened #92 "Message Content Chart: JSONPath: Value Expression - NumberFormatException"
### Message content chart Series

Value expression for JSON paths that are **3 levels deep** e.g. $.level1.level2.level3, returns the value encapsulated in square brackets e.g. [123.456].

This throws a **java.lang.NumberFormatException: For input string: "[123.456]"** Series Error

[2016-07-28 12:28] kamilfb commented on #92
Hi @NicolSpies, could you attach the JSON document and the JSON expression you are testing with?

[2016-07-28 12:37] NicolSpies commented on #92
[json doc.txt](https://github.com/kamilfb/mqtt-spy/files/388348/json.doc.txt)

JSON expresssion: $.*.daily.daily

The JSON expression returns 984.567 testing the JSON and expression on this URL:   https://jsonpath.curiousconcept.com/

[2016-07-28 14:03] kamilfb commented on #92
The problem is in the "*" - it's a special character in JSONPath. Can you change it to a proper name?

[2016-07-28 14:39] NicolSpies commented on #92
JSON special caracters are :

 \b  Backspace (ascii code 08)
\f  Form feed (ascii code 0C)
\n  New line
\r  Carriage return
\t  Tab
\"  Double quote
\  Backslash character

"*" not a special character, hence the comment that the correct value was returned when tested with JSON expression validator.

I will be able to modify my IOT Node to publish only text and numeric JSON keys :smile:

[2016-07-28 14:39] #92 closed, assigned to nobody

[2016-07-28 14:46] kamilfb commented on #92
Hi @NicolSpies - I think there are some additional JSONPath special characters: http://goessner.net/articles/JsonPath/

I agree - best to modify your IOT Node :)

[2016-07-28 14:52] NicolSpies commented on #92
Apologies, you are correct, wildcard is special character. I will modify my Node. Thanks for checking.

[2016-07-31 21:37] #89 closed, assigned to nobody

[2016-08-03 10:55] blakepercy opened #93 "Unable to subscribe to a topic in the GUI once it has been subscribed to using a script"
I am using the brilliant test automation feature of MQTT Spy but when I have subscribed to a topic within a test script then I am not able to subscribe to the same topic using the GUI:

Topic subscribed to in the script:
    mqttspy.subscribe("/UK/SIMSM/publication/model", 0);

Error reported by the GUI:
![spybug](https://cloud.githubusercontent.com/assets/13079894/17363253/3342c238-5971-11e6-9e63

[2016-08-04 23:42] ddeletic opened #94 "Documentation: Scripting Subscriptions"
The Subscriptions Scripting page could be expanded with more details. A couple of issues I came across so far are:
- explaining how to tie a script to a subscription (there is no way to do it on the connection tab, only through Configuration Panel - which wasn't immediately obvious).
- how to write a persistens Subscriptions script that wouldn't finish after running onMessage() once.

[2016-08-04 23:46] ddeletic opened #95 "Feature Request: Interfacing With Message Object - binary payloads"
Scripting: It would be great if there was a way of getting/setting message payloads with raw binary data rather than just strings. If the method already exists, it is not obvious.

[2016-08-05 20:38] kamilfb commented on #95
Hi @ddeletic - I've updated the wiki with additional info. Is that what you were after? https://github.com/kamilfb/mqtt-spy/wiki/Scripting

[2016-08-05 21:16] kamilfb commented on #94
@ddeletic, I've updated the wikis to address your first point: https://github.com/kamilfb/mqtt-spy/wiki/Scripting & https://github.com/kamilfb/mqtt-spy/wiki/ScriptingSubscriptions

[2016-08-05 21:19] kamilfb commented on #94
@ddeletic, for your second point - could you explain your use case further? What would you use this continuously running script for?

[2016-08-08 00:26] ddeletic commented on #94
Thank you for the quick response.

As for the second point, I'm trying to write a script that would transfer a file to the remote device in several chunks. The idea is for the script to publish a chunk, wait for an acknowledgement from the device, send the next chunk and so on. The script would subscribe to ACK topic and run onMessage() on each acknowledgement, until the file transfer is complete.

[2016-08-08 00:45] ddeletic commented on #95
Thanks for the quick response. It is great that the magic is already in there and I do not need to update my mqtt-spy.

One thing I'm not clear about is how to mqttspy.publish() binary data. All payloads are converted to strings in publish(), and I cannot publish a pre-built message object.

[2016-08-08 14:00] NicolSpies commented on #94
Hi, @kamilfb, thank you for an excellent tool which I am starting to explore.
The message payloads I receive is in JSON and I need to reformat it to XML before it is saved in the log1.messages file. I have started by trying to get the example in the ScriptingSubscriptions Wiki to run.

I have saved the example javascript
`function onMessage()
{
    receivedMessage.setPayload("<tag>" + receivedMess

[2016-08-08 16:33] NicolSpies opened #97 "Setting payload in onMessage doesn't work properly"
Hi, @kamilfb, thank you for an excellent tool which I am starting to explore.
The message payloads I receive is in JSON and I need to reformat it to XML before it is saved in the log1.messages file. I have started by trying to get the example in the ScriptingSubscriptions Wiki to run.

I have saved the example javascript

`function onMessage()
{
    receivedMessage.setPayload("<tag>" + receivedMes

[2016-08-10 15:33] blakepercy opened #98 "Clearing subscription history for a multi-message list layout only clears the first message list"
**Spy Version = 0.6.0 (beta) Build 51**

Clearing subscription history for a multi-message list layout only clears the first message list.

[2016-08-10 18:53] NicolSpies opened #99 "Getting rid of XML CDATA tags in message log"
Hi, I have a question,
- My message payloads is in JSON.
- I use a custom formatter to convert the JSON to XML and set the XML as new message payload.
- In the message log the XML payload is wrapped in CDATA tags.

How do I prevent the log4j logger to wrap the XML payload in the CDATA opening and closing tags
<![CDATA[ and ]]>

[2016-08-11 07:28] kamilfb commented on #97
Hi @NicolSpies, could you attach your configuration file and the mqtt-spy logs?

[2016-08-11 07:31] kamilfb commented on #99
The message log can be either in plain format or encoded to Base64. With plain, if it detects you've got some XML there, it wraps it because having XML within another XML is problematic and can cause problems. If you choose the encoded version, you won't see the CDATA tags. What's the reason you want to get rid of the CDATA tags?

[2016-08-11 07:34] kamilfb commented on #94
@ddeletic, you could possibly run a normal script (from Scripted publications), that would subscribe to the topic you want, and then in a loop keep checking if there are any new messages. Possibly something like this: https://github.com/kamilfb/mqtt-spy/blob/development/mqtt-spy/src/test/resources/test_cases/test1/tc.js (although the example is a test case, not an ordinary script).

[2016-08-11 07:35] kamilfb commented on #95
@ddeletic, what kind of binary data would you like to send? Have you got it already in something?

[2016-08-11 07:55] ddeletic commented on #95
[code]

It is important to note that this is all done inside a scripted subscription

[2016-08-11 08:09] kamilfb commented on #95
If you want to publish binary payload, you need to use this method signature:

mqtt.publish(topic, binaryPayload, qos, retained);

So you need to add QoS and the retained flag.

The Files.readAllBytes returns a byte array (byte[]).

Here is my example of publishing an image: https://github.com/kamilfb/mqtt-spy/blob/development/mqtt-spy/src/test/resources/scripts/publish_image.js

The publish metho

[2016-08-11 08:53] NicolSpies commented on #99
Hi Kamil, this is the normal message from the log with the data (payload) as received. I need to convert the payload from JSON to XML to be able to process the data as a total XML string.

`<MqttMessage id="92" timestamp="1470901829770" topic="Oasis/Franchise/RSA/Gauteng/Pretoria/Central/Oos-Moot/plant1/1417474/filter">{"Vol":21.003,"sp":"2016-08-11T09:50:21Z","dp":{"1":60,"3":0,"2":0,"5":0,"4":0,

[2016-08-11 09:01] ddeletic commented on #95
Ok, I understand now. Thank you

[2016-08-11 09:03] NicolSpies commented on #97
Hi Kamil, this problem relates to #99 as I am trying to accomplish the same. The solution in #99 is actually better suited as I need to do it for all the subscribed topics, hundreds of them. It will however be great to link an external .js file similar as what is done for the individual subscriptions.

I will attach the files when I get back to that test platform. Thanks

[2016-08-11 11:27] kamilfb commented on #95
No problem - if you need anything more, let me know.

[2016-08-11 11:27] #95 closed, assigned to nobody

[2016-08-15 19:37] NicolSpies opened #100 "Formatter execution consistency"
Hi Kamil,

My message payload is in JSON but I need it in XML.
I use the following code in the formatter inline script to transform the JSON to XML:

`function format()`
`{`
    `xml = "<payload>" + json2xml(receivedMessage.getPayload()) + "</payload>";`
   `receivedMessage.setPayload(xml);`
   `return xml;`
`}`

where the json2xml() function does the formatting successfully.
The format function s

[2016-08-15 20:12] kamilfb commented on #97
@NicolSpies, have you now got the onMessage being called properly or still not? I'm asking because I've seen the other issues you raised where it seems it is fine. Please advise.

[2016-08-15 20:22] kamilfb commented on #99
Hi @NicolSpies. Writing a separate XML document per message is as designed. This is to allow for more efficient message replay or streaming of the log file. It's more efficient, because you only need to read individual lines to parse/process them, as oppose to a large XML file all in one go. This makes a huge difference with log files that contain thousands or millions of messages, or are quite bi

[2016-08-15 20:27] kamilfb commented on #100
Hi @NicolSpies. Thank you for reporting this. Have you tried doing this in the onMessage() function for the subscription as opposed to doing it in the formatter's format()? The formatter should be used purely for formatting messages in the GUI, the onMessage is more suited for modifying the message itself. Let me know if that resolves the problem.

[2016-08-15 21:31] NicolSpies commented on #97
@kamilfb, I have tried the onMessage and could not get it working, hence I tried the formatter as a workaround.

[2016-08-15 21:36] kamilfb commented on #97
@NicolSpies, I see. I will need your config and logs to help further though...

[2016-08-15 21:40] NicolSpies commented on #99
Hi @kamilfb. This was my original plan but I could not get the onMessage to trigger when a message is received. I accept your explanation and have studied the operation of the log4j logger and the reason for the way it is implemented and used.

I would very much like to use the onMessage (proper) way of implementing what I need.

[2016-08-15 21:44] NicolSpies commented on #97
I appreciate your help, to make it simple I will quickly create a fresh log with the javascript referenced in a subscription. Thanks

[2016-08-15 21:55] NicolSpies commented on #97
The clean log file is:
[mqtt-spy.txt](https://github.com/kamilfb/mqtt-spy/files/419044/mqtt-spy.txt)

The absolute path of the javascript file containing the onMessage function is : C:\Program Files (x86)\MQTTSpy\scripts\subscriptions\message.js

The onMessage function is as detailed in the first entry of this issue

[2016-08-15 22:02] NicolSpies commented on #97
Rest of the config files

[mqtt-spy-configuration.txt](https://github.com/kamilfb/mqtt-spy/files/419057/mqtt-spy-configuration.txt)
[mqtt-spy-stats.txt](https://github.com/kamilfb/mqtt-spy/files/419058/mqtt-spy-stats.txt)

[2016-08-15 22:08] NicolSpies commented on #97
The received JSON message payload:

`{"type":"test","name":"Oos-Moot","cfg3":{"monthly":{"monthly":0,"time":"2016-08-15T23:00:00Z","deltp":0},"daily":{"daily":0,"time":"2016-08-15T23:00:00Z","deltp":0},"weekly":{"time":"2016-08-15T23:00:00Z","weekly":0,"deltp":0},"hourly":{"hourly":0,"time":"null","deltp":0}},"customer":"Oasis","time":"2016-08-15T23:51:11Z"}`

and the messages log indicating that

[2016-08-15 22:09] kamilfb commented on #97
I'd recommend deleting the following from the config:

[code]

[2016-08-15 22:16] NicolSpies commented on #97
I have tried it, still the same, the message in the log still the same with no modifications as expected

[2016-08-15 22:20] kamilfb commented on #97
Yay - I was able to reproduce it. Indeed, the payload in the log doesn't get modified. Also, the "All" tab doesn't get updated with the modified payload either. However, the specific subscription tab has payloads with the modified value! Clearly a bug :)

[2016-08-15 22:21] NicolSpies commented on #97
I have closed mqtt spy and reopened, get the error that the configuration file cannot be processed.
[mqtt-spy - Copy (2).txt](https://github.com/kamilfb/mqtt-spy/files/419083/mqtt-spy.-.Copy.2.txt)

[2016-08-15 22:21] kamilfb commented on #97
@NicolSpies, delete the whole `BackgroundScript` tag

[2016-08-15 22:23] NicolSpies commented on #97
Thanks, it is running again

[2016-08-15 22:24] kamilfb commented on #97
@NicolSpies, I will start working on a fix for setting the payload... - thanks for reporting it!

[2016-08-15 22:25] NicolSpies commented on #97
Thank you for all your effort and an excellent product

[2016-08-16 11:49] #99 closed, assigned to nobody

[2016-08-17 20:05] kamilfb commented on #98
Also need to fix the resizing issue and showing all messages when changing number of messages shown.

[2016-08-19 09:15] lnun13 opened #101 "Feature Request - Open script directly from mqtt-spy script list"
Hi.

I was thinking that, as an improvment of mqtt-spy application,  it would be great to have the possibility to open directly script from interface . Currently, there is a work around by using the "copy script location to clipboard" option, but this is less userfriendly.

Thanks a lot.
Regards

[2016-08-22 22:06] kamilfb commented on #98
@silentsaviour, could you try latest beta? http://tinyurl.com/mqtt-spy-download/mqtt-spy-0.6.0-beta-b52-jar-with-dependencies.jar

[2016-08-22 22:06] kamilfb commented on #97
Could you try the latest beta? http://tinyurl.com/mqtt-spy-download/mqtt-spy-0.6.0-beta-b52-jar-with-dependencies.jar

[2016-08-22 22:07] kamilfb commented on #93
Could you try the latest beta? http://tinyurl.com/mqtt-spy-download/mqtt-spy-0.6.0-beta-b52-jar-with-dependencies.jar

[2016-08-23 09:47] NicolSpies commented on #97
Will gladly do

[2016-08-23 13:43] NicolSpies commented on #97
Hi Kamil, from the testing so far, the onMessage method not triggers correctly and the script linked is executed. Using a script the JSON payload is converted to XML wrapped in CDATA tags which I remove using post processing. Thank you

[2016-08-23 13:43] #97 closed, assigned to nobody

[2016-08-23 13:48] kamilfb commented on #97
@NicolSpies - thank you for confirming it's fine now! Cheers

[2016-08-23 13:50] kamilfb commented on #100
@NicolSpies, if onMessage works fine now, is that still an issue? Please advise

[2016-08-23 15:32] NicolSpies commented on #100
No issue anymore but maybe worth taking note of.  thanks

[2016-08-23 15:32] #100 closed, assigned to nobody

[2016-08-30 21:03] #94 closed, assigned to nobody

[2016-09-16 07:28] SuperTango commented on #74
This is cool, and would be great on the subscription page along with the auto-refreshing to provide a useful realtime list view.

[2016-09-16 13:52] kamilfb commented on #74
Hi @SuperTango, have you tried version 0.5.4 and the multi message layout?

[2016-09-16 17:42] SuperTango commented on #74
Hi @kamilfb Yes, I have.  It's ok, but the reason I like the list view is that I can see many messages and quickly scan over what's in each.

[2016-09-20 08:12] blakepercy commented on #98
Tested against 0.6.0-beta52 and verified as resolved.

[2016-09-20 08:12] #98 closed, assigned to kamilfb

[2016-09-20 08:20] blakepercy commented on #93
Tested against 0.6.0 beta 52 and verified as resolved.

[2016-09-20 08:20] #93 closed, assigned to kamilfb

[2016-10-02 08:44] toashwin opened #102 "Not able to connect to AWS"
When I try to connect to AWS, I am getting following crash.
I have attached my xls file.
I am not attaching the certificate files. and also modified the aws URI in the xml file attached.

I am using TLS1.2, provided paths to root_ca file, crt file and key file. Did not provide any value for the password.

these certificates work with my device..  But could not test with MQTT-spy.

pl.baczkowicz.sp

[2016-10-02 12:52] kamilfb commented on #102
Hi. Which version are you using?

[2016-10-02 16:08] toashwin commented on #102
I used the latest version..  0.6.0 beta (build52)
I was getting similar error in other versions as well... 0.5.3 and 0.5.4

[2016-10-06 06:02] TLaren opened #103 "Error: Could not find or load main class pl.baczkowicz.mqttspy.Main"
Not sure if this is the right place to ask?
Running on Raspberry Pi 2 "Raspbian GNU/Linux 8 (jessie)"
Java version "1.8.0_65"
Running from the command line: java -jar mqtt-spy-0.5.4-jar-with-dependencies.jar
I get: Error: Could not find or load main class pl.baczkowicz.mqttspy.Main

Any suggestions?

Tim

[2016-10-06 09:34] kamilfb commented on #103
Hi @TLaren. Please take a look at https://github.com/kamilfb/mqtt-spy/wiki/GettingStarted and https://github.com/kamilfb/mqtt-spy/issues/88. If still struggling after that let me know.

[2016-10-06 16:21] TLaren commented on #103
Still no luck. Tried on a Windows box and it’s up.

Thanks, will try later to get it running on the Pi

Tim

From: Kamil Baczkowicz [mailto:notifications@github.com]
Sent: Thursday, October 06, 2016 2:34 AM
To: kamilfb/mqtt-spy mqtt-spy@noreply.github.com
Cc: TLaren timl@instanet.com; Mention mention@noreply.github.com
Subject: Re: [kamilfb/mqtt-spy] Error: Could not find or load main class pl.bac

[2016-10-06 19:02] MiaLinke commented on #90
Hi Kamil,
I am trying that Testcases Pubsub test with mqtt spy and that works very well. Thank you that is really very helpful.
My question is that, is that possible to use protobuf for encoding and decoding the messages in that Test cases.

waiting for reply,,,:)

[2016-10-06 22:12] kamilfb commented on #90
sure you can! could you raise a separate issue and i will try to explain...

[2016-10-07 07:11] MiaLinke opened #104 "using protobuf to encode the message"
Hello Kamil,
 I am trying to encode the messages then publish it to client and again decode it in the PubSub Test Script  in Test cases pane... to see correct message received pass the Test else  Fail.
Please let me know if you need more information.
waiting for reply.

Thank you in Advance.. :)

[2016-10-10 12:11] MiaLinke commented on #104
when  I am checking the messages
var Message = Java.type("com.google.protobuf.Message");
Message = mqttspy.getMessages("subscription");
value of Message shows like : [pl.baczkowicz.mqttspy.messages.FormattedMqttMessage@7d2c392d, pl.baczkowicz.mqttspy.messages.FormattedMqttMessage@37ba012a, pl.baczkowicz.mqttspy.messages.FormattedMqttMessage@71f4d85a, pl.baczkowicz.mqttspy.messages.FormattedMqttMes

[2016-10-10 21:42] kamilfb commented on #104
Hi @MiaLinke,

I don't think you are using Protobuf in the right way. You might need to do some more googling on that. I suspect you first need to get the binary payload from a FormattedMqttMessage, and then turn it into a Protobuf message.

Here are examples in mqtt-spy and Kura:
- https://github.com/kamilfb/mqtt-spy/blob/development/mqtt-spy-common/src/main/java/pl/baczkowicz/mqttspy/kura/KuraPa

[2016-10-11 12:00] MiaLinke commented on #104
Thank you..
how can i get binary payload (in the form of 10010010010010101010 ) while from rawpayload i can get the byte data like B@34512d53
how to parse that data.
it gives me error Parser.parseFrom() is not a function but I had already imported in my script file.(var Parser = Java.type("com.google.protobuf.Parser"))
oder I also tried the KuraPayloadFormatter.format(Message.get(0).getRawPayload(

[2016-10-13 15:54] kjordan-sa commented on #102
I am having similar issues. I m unable to get a connection established. I have tried all the various form of Security settings that I can think of to try and have no luck.

[2016-10-13 18:54] kamilfb commented on #102
hi @toashwin, have you tried the settings outlined in https://github.com/eclipse/paho.mqtt-spy/issues/4 ?

[2016-10-13 18:56] kamilfb commented on #103
hi @TLaren. any more luck?

[2016-10-13 20:49] kamilfb commented on #103
Seems like Java on RPi is missing JavaFX support by default.

Found something on SO: http://stackoverflow.com/questions/36961054/can-javafx-be-used-on-raspberry-pi

Downloading the Gluon SDK and copying the jfxrt.jar to your JRE/JDK lib directory might be the solution - would you like to give it a try?

Also, there might be a way with using OpenJDK - take a look at #88

[2016-10-15 21:49] acestu commented on #103
Hi Kamilfb, TLaren

You might find this page interesting, it has a version of java with FX for raspberry pi, you might have more luck with it:

http://chriswhocodes.com/

Thanks
Stuart

[2016-10-15 22:03] TLaren commented on #103
Thanks for the support. Just have not had time to try your solutions. Tomorrow I will let you know how it worked.

Thanks again,

Tim

From: acestu [mailto:notifications@github.com]
Sent: Saturday, October 15, 2016 2:50 PM
To: kamilfb/mqtt-spy mqtt-spy@noreply.github.com
Cc: TLaren timl@instanet.com; Mention mention@noreply.github.com
Subject: Re: [kamilfb/mqtt-spy] Error: Could not find or load m

[2016-10-17 21:47] #102 closed, assigned to nobody

[2016-10-17 21:50] kamilfb commented on #104
@MiaLinke, the getRawPayload() method returns an array of bytes (byte[]). What type does your parseFrom() expect?

[2016-10-18 06:07] MiaLinke commented on #104
Thank you
Yes that I understand... I am trying to write code for protobuf in pubsub Script without modifying the mqtt-spy-0.5.4-jar-with-dependencies.jar file.
I tried : Clone the code and after build jar and when I run that jar shows me error for javafx.fxml.LoadException.
I am trying for return type for parser function String or JSON.

Waiting for reply :)

[2016-10-18 06:23] kamilfb commented on #104
sorry, i dont understand...

[2016-10-19 09:14] MiaLinke commented on #104
Sorry.. i am new to these concepts
but i decided to use my protobuf compiled files jar as dependency and then use same while i want to use my own proto files.
 will you please tell me for the javafx.fxml.LoadException that comes at the time of opening the sample local broker..Thank you.. :)
und i think after that it will be better to close this issue.

[2016-10-19 20:24] kamilfb commented on #104
I think there is an easier way - rather than recompiling the whole project, put your JAR on the classpath as explained in https://github.com/kamilfb/mqtt-spy/wiki/GettingStarted. Look for the "Running with additional JARs on the classpath" heading.

[2016-10-20 06:34] #104 closed, assigned to nobody

[2016-10-24 12:26] MiaLinke commented on #104
All working perfectly and mainly with protobuf formatting.. :)
Thank you once agin ..

[2016-10-25 10:35] kamilfb commented on #104
hi @MiaLinke - cool - well done! any chance you could share your final solution so that other people can benefit from this as well?

[2016-10-25 10:37] kamilfb commented on #103
@TLaren any more luck with that? For future questions or comments, could you use https://github.com/eclipse/paho.mqtt-spy/issues/5 instead so that we have only one issue open for this?

[2016-10-25 10:37] #103 closed, assigned to nobody

[2016-10-25 12:09] consolacion opened #105 "where is the 'jar' file"
Maybe it is just me, but the instructions say 'just click on the jar file in mqtt-spy'
I don't see any jar file anywhere in the many folders and subfolders of mqtt-spy.
I downloaded it, there is a folder called mqtt-development that has 6 subfolders such as 'mqtt-spy'  etc, but nowhere a jar file in sight

[2016-10-25 12:27] kamilfb commented on #105
@consolacion , what are you trying to do?

[2016-10-25 12:53] consolacion commented on #105
I am trying to install and use mqtt-spy. The wiki tells me that after download I should click  the 'jar' file, but there is no jar file.  In the mean time i found the "mqtt-spy-0.6.0........with dependencies.jar" file in another repositorie (I presume)  but that just wants to install files, whereas I understood that would open the application.

In other words, Just trying to use mqtt-spy but it is

[2016-10-25 13:06] kamilfb commented on #105
@consolacion
1) Go to "Wiki" -> "Downloads"
2) Download version 0.5.4 (mqtt-spy-0.5.4-jar-with-dependencies.jar)
3) Double click the JAR to start (assuming you've got appropriate version of Java installed)

[2016-10-25 13:07] consolacion commented on #105
i will give that a try. I have 1.8
I see that is from where I did download the jar before. That just opens up and wants to install files
and so does version 0.5.4 :-(

[2016-10-25 13:22] kamilfb commented on #105
What do you mean by "it wants to install files"? It will create a directory in your home folder so that you can save config and stats.

[2016-10-25 13:27] consolacion commented on #105
apologies, I was not clear: it  will not run the application but opens  the archive managers window from where I can only extract files

[2016-10-25 13:35] kamilfb commented on #105
@consolacion , have you followed https://github.com/kamilfb/mqtt-spy/wiki/GettingStarted?

what's the output of "java -version"?

[2016-10-25 13:39] consolacion commented on #105
Yes I have. Have downloaded and installed 1.8, but I already see the problem. Java.com tells me I have 1.8 installed but the terminal : java -v tells me it is 1.7.  in spite of me  removing prior versions and restarting.
I presume that is where the problem is.
Thank you for your help, I think I  need to find the solution on the java side

[2016-10-25 13:40] kamilfb commented on #105
@consolacion , yes, it looks like a java problem. Even though, go through the getting started guide and see how you can start mqtt-spy with a specific version of java, even if multiple are installed

[2016-10-25 13:45] consolacion commented on #105
I had seen that indeed, will try. Thanks.
(I so dislike Java :-) )

[2016-10-25 13:45] #105 closed, assigned to nobody

[2016-10-25 16:16] consolacion commented on #105
Sadly no avail. Have java 1.8_111 installed. is reported in my terminal with java -version, is  reported by java.com,
restarted computer, but the jar file will not execute but is opened in archive manager.
the only thing that changed is that before I would get a message  that it is an excutable... and then it would open in archive manager, and now it directly opens in archive manager.
As mqtt-spy

[2016-10-25 16:18] consolacion commented on #105
OK solved, apparently due to the trouble before it probably didnt no better anymore than to 'open in archive'. Right click and 'open in java' did the trick

[2016-10-26 11:36] MiaLinke commented on #104
Yes. I will do it definitely to help others.
will you please tell me the working of this:
var Payload = message.size() > 0 ? message.get(0).getRawPayload() : " ";

I published my protobuf encoded bytearray object in Pubsub script (newBuilder and then toByteArray).

when I doing protobuf parsefrom then i get the string value correct but Id is false. My proto file had message with int32 Id and Strin

[2016-10-28 13:59] MiaLinke commented on #104
@kamilfb
I found out the reason (reference :https://github.com/dcodeIO/protobuf.js/issues/192): It happen because
there is some sort of string conversion in between (which is a common cause of such issues) that corrupts non-ASCII values . But I am not getting that with pubsub script ..(send bytearray and received bytearray are different)
Please reply..
Thanks in advance.

[2016-11-01 23:01] kamilfb commented on #104
@MiaLinke , I'm not sure why it doesn't work - looks like a protobuf thing... :(

[2016-11-26 13:26] 8666 opened #106 "Topic supsciption"
If I subscribe to something like

home/+/+/+

I do not get any data
but if I subscribe later to
home/+/+

I will get the data for topics like
home/room-temperature/Bedroom

in both tabs.

Why the second tab change the logic in the first one?

[2017-01-01 12:41] aidanruff opened #107 "Initial Subscription not working"
Hi

If I add a subscription (0.6.0 Beta) to a connection definition, then open the connection, the subscription doesn't work. So, say I subscribe to topic '#' to receive all traffic from the MQTT server, I see nothing coming in and can still add a subscription to '#'.

If I make a default subscription to '#' and click on "create tab", a tab is created for the subscription when I open the connectio

[2017-01-01 14:19] kamilfb commented on #106
hi @8666, the project has now moved to Eclipse Paho - please use the new GitHub repo at https://github.com/eclipse/paho.mqtt-spy to raise any questions or issues. thanks

[2017-01-01 14:19] #106 closed, assigned to nobody

[2017-01-01 14:20] kamilfb commented on #107
the project has now moved to Eclipse Paho - please use the new GitHub repo at https://github.com/eclipse/paho.mqtt-spy to raise any questions or issues. thanks

[2017-01-01 14:20] #107 closed, assigned to nobody

[2017-02-04 18:38] consolacion opened #108 "connection to local broker problematic"
Very happy with MQTT-spy when using it with public brokers. However seems i cant connect to a local mosquitto broker in raspberry. I know the local Mosquitto broker works, can publish to various computers on network, but MQTT-spy remains silent. Maybe I am just doing something wrong in the definition of the local broker in MQTT spy but I presumed i didnt need much more than:
192.168.1.102:1883 as

[2017-02-04 19:24] consolacion commented on #108
Seems solved: apparently I needed to check 'autosubscribe' as well

[2017-02-04 19:31] consolacion commented on #108
Solved!  Had to check the auto subscribe checkbox

[2017-02-04 19:31] #108 closed, assigned to nobody

[2017-03-02 03:30] manoj123448 opened #109 "Unable to connect to rabbitmq broker in another PC"
I am using Mqttspy GUI. If I give localhost or 127.0.0.1 I am able to connect to Rabbitmq without any issues. But if I give system IP address or if RabbitMQ is in another PC I am not able to connect through Mqttspy

[2017-03-02 17:07] manoj123448 commented on #109
It is not issue with Mqtt-spy, need to do configuration change in rabbitMQ

[2017-03-03 09:16] kamilfb commented on #109
Thanks for confirming.

[2017-03-03 09:16] #109 closed, assigned to nobody

[2017-04-25 10:39] maartenl945 opened #110 "mqtt-spy looses messages on a subscription ?"
Hi,

I'm testing our implementation of sending messages to a mosquitto broker using the paho client library. In that testing I'm using mqqt-spy to check whether all sent messages actually arrive at the broker.

What I seem to have noticed is that mqqt-spy (0.5.4) misses messages on the subscription, where the mosquitto_sub client does not miss any messages on the same subscription.

For testing I'

[2017-04-25 12:13] maartenl945 commented on #110
Copied to https://github.com/eclipse/paho.mqtt-spy/issues/18
As that now seems to be the maintained project.

[2017-05-02 10:10] EugenNeufeld opened #111 "IOException when trying to connect with client-certificate"
Hi folks,

i've been trying to connect to my mosquitto-broker at my localhost on port 8883 by using the "CA certificate and client certificat/key" mode in the security/TLS settings. I have also put in the rest of the TLS-settings. Now everytime  I try to connect to my (already running and correctly configured broker) mqtt-spy gives me the error message: "Invalid configuration parameters - IOExcept

[2017-05-04 10:48] Marwe opened #112 "there is a memory leak"
sorry, doubled

[2017-05-04 10:48] Marwe opened #113 "there must be a memory leak"
mqtt-spy is eating memory faster than you can produce chips.
In the attachment you can see the memory consumption logged in mqtt-spy via MQTT.
Only few minutes and all memory is used up.

Same thing observed with these versions:
mqtt-spy-0.5.3-jar-with-dependencies.jar
mqtt-spy-0.6.0-beta-b56-jar-with-dependencies.jar

I published the memory usage with this bash snippet:
`while true ; do mosquitto

[2017-05-04 11:06] #112 closed, assigned to nobody

[2017-05-04 11:09] Marwe commented on #113
Upload of screenshots here did not work, see them there:
https://imgur.com/a/qDzCR

[2017-05-04 11:49] Marwe commented on #113
The amount of different messages was roughly 20 in total with 1 Hz (10 messages/second), one value being plotted.

[2017-05-13 15:00] sticilface opened #114 "Feature request: send retained msg using GUI"
I might be missing this, but i've had a good look.

how do I set the QOS and retain flags for messages sent using the GUI?

If it is not possible could this be added?

Great software btw:)

[2017-05-17 20:03] kamilfb commented on #110
@maartenl945 correct - I will close this one off.

[2017-05-17 20:03] #110 closed, assigned to nobody

[2017-05-17 20:11] kamilfb commented on #114
@sticilface , yes, you need to change the perspective. Window -> Change perspective -> Detailed

[2017-05-17 20:14] kamilfb commented on #113
@Marwe , thank you for reporting this - this repo is not active anymore - could you use https://github.com/eclipse/paho.mqtt-spy instead? I will be happy to look into this futher

[2017-05-17 20:16] kamilfb commented on #111
hi @EugenNeufeld - this repo is not active anymore. could you use https://github.com/eclipse/paho.mqtt-spy instead?

[2017-05-17 20:39] sticilface commented on #114
OMG!  how did I not find that!  Thanks.  I googled it loads too... oops

Thank you

[2017-05-17 20:39] #114 closed, assigned to kamilfb

[2017-05-17 20:57] kamilfb commented on #114
no problem @sticilface - happy spying... ;)

[2017-06-19 17:11] ThomDietrich opened #115 "Integrate into operating systems apps list"
Hey,
this is quite trivial. Could you please provide an installer for mqtt-spy?

I very much like your software but without a start menu entry it's always a nuisance to find and open it. Yes I could create a shortcut, yes I could copy it to the desktop, yes I could stop being a lazy fumble. In times of smartphones we humans expect software to "just work" and packaging a jar is done in a few second

[2017-06-22 17:06] TotallyInformation opened #116 "Suggestion for docs: Deleting retained messages in bulk"
Hi, it took me a while to work this out.

I needed to delete a bunch of retained messages and struggled to get the right parameters. Here is the answer: `mqttspy.publish(topic, '', 0, true);`

The trick is that you have to pass the retain parameter as true which is rather counter-intuitive.

Here is a script to delete any number of topics. You can export a topic list from the UI of course:

[code]

[2017-06-30 19:41] kamilfb commented on #116
Cool - thank you!

[2017-06-30 20:21] kamilfb commented on #113
Using the other repo so closing.

[2017-06-30 20:21] #113 closed, assigned to nobody

[2017-06-30 20:22] #111 closed, assigned to nobody

[2017-06-30 20:25] kamilfb commented on #115
Thanks for feedback @ThomDietrich.  I will reconsider it. The main issue is that this needs very regular maintenance, effectively every time a new version of JVM is release due to potential security issues. Any thoughts on this?

BTW - best to use the new repo at https://github.com/eclipse/paho.mqtt-spy

[2017-07-10 16:12] ikarus23 opened #117 "Feature Request - Support for elliptic curves based keys (TLS)"
Hi, first of all: thank you for the this great tool!
I've noticed that it is not possible to use keys for TLS secured connections that are based on elliptic curves. Only RSA keys seem to be supported. Could you add the support for EC keys?

[2017-08-18 22:37] DavidAntliff opened #118 "Last Will data length inconsistency"
mqtt-spy v1.0.0 on macOS Sierra.

If I set the Last Will data for a Connecting in the Connection List to be, say, "88" (Plain) then it shows "Data (0B)". If I set it to "888" then it changes suddenly to "Data (3B)". If I then delete one "8", back to "88", then it shows "Data (2B)".

It should probably show "Data (2B)" in the first instance.

I have a saved Connection that has "88" in the Data fiel

[2017-08-18 22:37] DavidAntliff opened #119 "Last Will received data has unexpected value"
mqtt-spy v1.0.0 on macOS Sierra.

If I set the Last Will data to "888" and re-establish the connection, then monitor the topic with a second instance of mqtt-spy, then a Force Quit on the original client will send the Last Will message to the broker, and it will be received by the subscribed second client. I see the message arrive but the data is not what I expect - it is two black diamonds with a

[2017-09-24 21:58] albangabillon opened #120 "problem with subscriptions"
In "manage connections", in the "subscriptions" tab, I cannot add a topic. It is automatically replaced by the /sampleSubscription/ topic. Since I am new to MQTT, I may be missing something.

[2017-11-10 22:29] kamilfb commented on #120
this repo has been archived - please use https://github.com/eclipse/paho.mqtt-spy

[2017-11-10 22:29] #120 closed, assigned to nobody

[2017-11-10 22:29] kamilfb commented on #117
This repo has been archived. Could you raise this in https://github.com/eclipse/paho.mqtt-spy?

[2017-11-10 22:30] kamilfb commented on #118
This repo has been archived. Could you raise this in https://github.com/eclipse/paho.mqtt-spy?

[2017-11-10 22:30] #118 closed, assigned to nobody

[2017-11-10 22:30] kamilfb commented on #119
This repo has been archived. Could you raise this in https://github.com/eclipse/paho.mqtt-spy?

[2017-11-10 22:30] #119 closed, assigned to nobody

[2017-11-10 22:37] #74 closed, assigned to nobody

[2017-11-12 20:57] DavidAntliff commented on #118
Done: https://github.com/eclipse/paho.mqtt-spy/issues/41

[2018-02-13 07:19] abhinayabalaji commented on #82
using clientcertficate.crt works where as the same certificate in pkcs12 format does not work and throws signed fields invalid error when trying to save connection settings.

pl.baczkowicz.spy.exceptions.ConfigurationException: Invalid configuration parameters
	at pl.baczkowicz.mqttspy.connectivity.MqttConnectionDetailsWithOptions.<init>(MqttConnectionDetailsWithOptions.java:91)
	at pl.baczkowicz.

[2018-07-01 17:48] MarthaZeppelin opened #121 "UNICODE Replacement character when saving a message as script"
I have a Hex payload as follows:
"0a0000000d000c01e184"
Using Save current messages as script yields
"mqttspy.publish("ASTRA/snd/189", "\n\u0000\u0000\u0000\r\u0000\f\u0001\uFFFD", 2, true);"

The final "\uFFFD" isn't a correct representation of the original "e184", Seems there's something going wrong, "\uFFFD" is the UNICODE Replacement character.

[2018-07-01 17:52] MarthaZeppelin opened #122 "typo within documentation"
There seems tobe a typo on [https://github.com/kamilfb/mqtt-spy/wiki/Scripting](url).
Instead of "spy.setScriptTime**t**out(timeoutInMilliseconds);" it should read "spy.setScriptTimeout(timeoutInMilliseconds);"

[2018-07-01 18:10] MarthaZeppelin opened #123 "possible extension to Wiki"
Hi,
there's an example on how to publish binary data on [https://github.com/kamilfb/mqtt-spy/blob/development/mqtt-spy/src/test/resources/scripts/publish_image.js](url).
Another way of having binary data would be in the form of a base64-encoded string.
I managed (with the help of a friend) to solve this:
`function publish()
{
  var bytes = decodeBase64("CgAAAA0ADAHhhA==")
  mqttspy.publish("ASTRA/

[2018-07-01 18:19] MarthaZeppelin opened #124 "Feature request; message load chart for individual topics"
Having a subscription including wildcards (+, #) it would be nice to have access to the "Show message load chart" not just for the subscription as a whole, but for all the individual topics received individually. And/Or for all topics marked "Browse" in one chart.

[2018-07-01 18:30] MarthaZeppelin opened #125 "problem with Message content chart"
I have  payloads json-decoded like "v: 66, l: 385, Typ: PW, FR: pos".
I'm using "Show payload values for this topic" and set Type to "JSONPath" and Value expression to "$v".
But no values do appear on the chart. Instead i have log-entries like
`2018-07-01 20:20:06,744 ERROR [JavaFX Application Thread     ] [LineChartPaneController       ]  - Invalid payload
java.lang.NumberFormatException: For inp

[2018-07-01 18:34] MarthaZeppelin commented on #125
Sorry, wrong example.

[2018-07-01 18:34] #125 closed, assigned to nobody

[2018-07-01 19:05] MarthaZeppelin opened #126 "problem with Message content chart"
I have payloads decoded like

I try to use "Show payload values for this topic".
In the log I find
`2018-07-01 20:50:19,737 ERROR [JavaFX Application Thread     ] [LineChartPaneController       ]  - Invalid payload
java.lang.NumberFormatException: For input string: "{ "v": 69, "l": 313, "Typ": MR, "FR": pos }"
	at sun.misc.FloatingDecimal.readJavaFormatString(Unknown Source)
	at sun.misc.FloatingD

[2018-07-08 11:06] MarthaZeppelin commented on #121
Moved this to eclipse/paho.mqtt-spy

[2018-07-08 11:06] #121 closed, assigned to nobody

[2018-07-08 11:09] MarthaZeppelin commented on #122
moved to eclipse/paho.mqtt-spy

[2018-07-08 11:09] #122 closed, assigned to nobody

[2018-07-08 11:10] MarthaZeppelin commented on #123
mived to eclipse/paho.mqtt-spy

[2018-07-08 11:10] #123 closed, assigned to nobody

[2018-07-08 11:12] MarthaZeppelin commented on #124
moved to eclipse/paho.mqtt-spy

[2018-07-08 11:12] #124 closed, assigned to nobody

[2018-07-08 11:16] MarthaZeppelin commented on #126
moved to eclipse/paho.mqtt-spy

[2018-07-08 11:16] #126 closed, assigned to nobody

[2018-07-16 14:54] Haringat opened #127 "Load script with common functions"
I am trying to use the scripting capabilities, but since my topics are rather large (but structured) I would like to be able to put something like a publish() function in a script file where I only need to fill in one part that changes and require that script in all my other script to reduce boilerplate.
So it would look something like this:
common.js
[code]
foo.js
[code]
bar.js
[code]
sadly, nash

[2018-07-16 15:07] Haringat commented on #127
Ok I have found out how it works. You have to include the file: protocol and the full path e.g. on Windows something like
[code]

[2018-07-16 15:07] #127 closed, assigned to nobody

[2018-08-30 10:15] MihirGangoly commented on #102
Dear Kamil,

I am having this same problem. Any idea how this was resolved? using the eclipse/paho.mqtt-spy#4 link was not great as it asked to install the JAVA Developer and that created other issues with the apps that require the JR.

[2018-12-18 00:32] ealvarez-accedo opened #128 "Unsupported class version error"
Hello,

I'm trying to run the latest version of worldographer using openjdk8.0 and openjfx 8u60, using the following command line invocation:

`java -Xmx4G -jar worldographer.jar`

I then get the following error message:

[code]

[2018-12-18 00:35] ealvarez-accedo commented on #128
Please disregard. The problem lied with conflicting version of openjdk coexisting in the machine.

[2018-12-18 00:35] #128 closed, assigned to nobody

[2019-01-07 06:10] FDU-SE-LAB opened #129 "Your project kamilfb/mqtt-spy is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-06-14 21:26] stephen-smith commented on #88
[code]

OpenJFX is installed.  If there's a more recent beta, I'm willing to try it, but I can't find where I got this one anymore.   https://askubuntu.com/a/1138493 (via https://openjfx.io/openjfx-docs/) strongly implies that the JavaFX runtime components are no longer part of the JRE, and should instead be included in your executable, with-dependencies, jar.

[2019-06-14 21:43] stephen-smith commented on #88
`java --module-path /usr/share/openjfx/lib --add-modules javafx.base,javafx.controls,javafx.fxml -jar mqtt-spy-1.0.1-beta-b18-jar-with-dependencies.jar` seems to work, though you might need to add even more JavaFX modules.

[2019-08-14 20:38] hemna opened #130 "can't launch jar"
java -jar ~/Desktop/mqtt-spy-0.5.4-jar-with-dependencies.jar
Error: Could not find or load main class pl.baczkowicz.mqttspy.Main

[2019-08-14 20:39] hemna commented on #130
I've tried 1.0.0 as well.  same issue.
[code]

[code]

[2019-08-27 13:19] Ciruxx commented on #130
Same here with Manjaro!
I have this version of Java:

[code]

And this version of JFX:
[code]

[2019-11-18 12:13] paczkows opened #131 "timestamp of mqtt-spy-daemon.messages in readable format"
Is it possible to change format of timestamps in mqtt-spy-daemon.messages?
How can I achieve this?
I would like to have timestamp in the following format: yyyy-MM-dd HH:mm:ss

[2019-11-18 16:43] gerroon commented on #130
it does not run :(

[code]

[2020-02-25 16:11] jannvck opened #133 "Message load chart: Message size plotting not working"
I tried to plot the message sizes for each received message. Using the chart series editor dialog I used:

**Series name: Message size
Topic: Message size
Type: Message size
Value expression: <none>**

As I could not find any documentation about this dialog in the [wiki entry](https://github.com/kamilfb/mqtt-spy/wiki/Charts), I was not sure about what 'Topic' means in this context.
So I also tried

[2020-04-26 08:09] nate2014jatc commented on #130
Please have a look at #88

[2020-04-26 08:15] nate2014jatc opened #134 "Exception in Application start method - OpenJDK 11"
Hello,
After installing openjfx, and manually including the libs as suggested in a previous post, I have encountered the following error.

[code]

For reference, the command I ran was `java --module-path /usr/share/openjfx/lib/ --add-modules javafx.base,javafx.controls,javafx.fxml -jar mqtt-spy-1.0.0.jar`

My Java version is
[code]

[2020-08-30 13:17] zorbali commented on #88
it doesnt work on my system.
Anybody knows complete set of package list and instructions
how to install and run this in linux 20.04

[2020-09-29 12:58] riker65 commented on #88
same for me :+1: it doesnt work on my system.
Anybody knows complete set of package list and instructions
how to install and run this in linux 20.04

[2020-09-29 15:06] zorbali commented on #88
Try the command below,

it should work however every time you upgrade or restart the computer you must make sure that the java version below is the one selected to run.

sudo apt install openjfx=8u161-b12-1ubuntu2 libopenjfx-java=8u161-b12-1ubuntu2 libopenjfx-jni=8u161-b12-1ubuntu2

It took me long time to find out the correct version.
Let me know if this worked please.
Regards,Chris Paraskevaides

[2020-12-25 00:38] andrei-palamarciuc opened #135 "Message Content Chart: JSONPath: Value Expression - ?() Filter expressions doesn't work"
Version: mqtt-spy-1.0.1-beta-b18-jar-with-dependencies

**Payload**
{
  "book": [
    {
      "category": "reference",
      "author": "Nigel Rees",
      "title": "Sayings of the Century",
      "price": 8.95
    },
    {
      "category": "fiction",
      "author": "Evelyn Waugh",
      "title": "Sword of Honour",
      "price": 12.99
    }
  ]
}

**Value Expression**
$.book[?(@.category=='refer

[2021-01-10 19:56] cinatisul commented on #134
Having the same problem, no solution to this yet? thx

[2021-03-13 19:05] kyrsjo commented on #88
@ctron I know this is a very old bug, however at least on Fedora 32, it started after installing with dnf:
 * openjfx
 * java-1.8.0-openjdk-openjfx
where the first one is the library itself, and the second one makes it fully available from openjdk.

So for anyone playing along at home, the correct command to install dependencies appears to be:
`sudo dnf install openjfx java-1.8.0-openjdk-openjfx`

[2021-05-27 19:20] andriamasy commented on #134
I Having the same problem

[2022-02-10 09:12] karls0 commented on #88
Hi,
I really love your programm. It is a great help, when I am writing code for ESPs using MQTT. After updating my OS to Mint20.3, which is based on Ubuntu 20.04, mqtt-spy is not starting anymore.

karls@mintbox20:~/tools/mqtt-spy$ java -jar mqtt-spy-1.0.0.jar
Fehler: Hauptklasse pl.baczkowicz.mqttspy.Main konnte nicht gefunden oder geladen werden
Ursache: java.lang.NoClassDefFoundError: javafx/ap